[2021-06-21 12:13] Amit366 opened #1 "Create home page"
This includes a nice background, some content about physics and also the heading

[2021-06-21 12:14] Amit366 opened #2 "logo"
Add the logo to the webpage

[2021-06-23 11:22] Amit366 opened #7 "Side navbar"
**Describe the solution you'd like**
Add sidenavbar to display the different calculators

**Additional context**
Add it in such a way that further more contents could be added.

[2021-06-23 11:24] Amit366 opened #8 "The Js file is not working"
**Describe the solution you'd like**
The js file for calculator logic is not working

[2021-06-24 09:28] #8 closed

[2021-06-28 05:11] Amit366 opened #9 "Welcome To DevIncept Summer of Code"
Hello, Everyone ✨, Hope you guys are doing fine! 🙌

Thanks for showing your interest in being a part of the ![DevIncept Summer of Code ](https://devincept.tech/) 💥

[2021-06-28 12:16] aakankshabhende commented on #7
Can I work on this issue? @Amit366

[2021-06-28 12:20] aakankshabhende opened #10 "Want to add Scroll to Top button"
Will allow users to easily scroll back to top of the web page when clicked on the button.

[2021-06-28 12:22] Amit366 commented on #7
Are u a participant of DevIncept Summer of Code??

[2021-06-28 12:23] aakankshabhende commented on #7
Yes

[2021-06-28 12:27] Amit366 commented on #7
Okay then but first I think we need a home page and then a sidenavbar. So I think you have to wait till the home page is done @aakankshabhende

[2021-06-28 12:39] Amit366 commented on #10
Yes go ahead

[2021-06-28 12:46] aakankshabhende commented on #7
So can I work on the home page first? @Amit366

[2021-06-28 12:57] Amit366 commented on #7
If u want to work on home page u can

[2021-06-28 12:58] aakankshabhende commented on #7
Okaay

[2021-06-28 14:20] Amit366 commented on #7
@aakankshabhende just comment on that issue so that I can assign you

[2021-06-28 14:25] aakankshabhende commented on #1
Can I work on this issue? @Amit366

[2021-06-28 14:35] aakankshabhende commented on #7
Thanks @Amit366

[2021-06-28 14:37] Amit366 commented on #7
@aakankshabhende but send the PR only after the program officially begins

[2021-06-28 14:42] aakankshabhende commented on #7
Okaay

[2021-06-29 08:32] urmi-256 commented on #1
Can I also work on this issue?

[2021-07-01 06:50] #1 closed

[2021-07-01 06:52] Amit366 commented on #7
@aakankshabhende I guess u have done this in the first PR itself??

[2021-07-01 07:19] aakankshabhende commented on #7
Yes only bottom to top scroll button is left @Amit366

[2021-07-01 07:20] Amit366 commented on #7
@aakankshabhende BUT in the points ur this issue will not be considered. Since u have done it in one PR itself

[2021-07-01 07:22] Amit366 commented on #7
I would suggest just increase the font size of the nav items and send a Pr. So that u could get points for that too

[2021-07-01 07:48] Amit366 opened #12 "Add icon images to the different physics contents"
**Describe the solution you'd like**
Add icon images to each physics contents

[2021-07-01 07:53] Amit366 opened #13 "Add force formula in Classical mechanics"
**Describe the solution you'd like**
Add force calculator in classical mechanics along with some content about force.

(on clicking classical mechanics it should open a contents page where there would be different topic names. Then on clicking the topic name a page should open where there is some content with images and then below it the calculator.)

[2021-07-01 11:59] #7 closed

[2021-07-01 11:59] #10 closed

[2021-07-01 15:38] Swastik1710 commented on #12
Hey, I would like to work on this issue. Please assign it to me.

[2021-07-01 15:43] Swastik1710 opened #18 "Footer Section"
**Is your feature request related to a problem? Please describe.**
A good website has an awesome footer section.

**Describe the solution you'd like**
I would like to add a responsive footer section to the website.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or

[2021-07-01 15:43] Swastik1710 commented on #18
Please assign this issue to me so that I can start working on it.

[2021-07-01 15:52] Amit366 commented on #12
@Swastik1710 go ahead

[2021-07-01 15:53] Amit366 commented on #18
@Swastik1710 could u explain what changes u wanna make as there is already a footer??

[2021-07-01 16:19] Swastik1710 commented on #18
Yeah sure.
So as of now the footer section is not quite differentiable due to the color scheme used.
Moreover, the contact column doesn't have any details.
Neither does it contain any icons which provide an awesome look.
The hover effects on the links are quite ordinary.
Also the copyright section is too thick and the text in it is hardly visible.
Do let me know your views on this @Amit366

[2021-07-01 16:41] Amit366 commented on #18
There is no logo yet so according to the space it would take make the changes. I found it interesting. So I go ahead @Swastik1710 . But after finishing with the footer send the screen shot. If it looks better then current one then u can send the PR.

[2021-07-01 16:46] Swastik1710 commented on #18
Okay @Amit366 , I would send you a screenshot regarding this.
Glad you found it interesting.

[2021-07-02 03:27] Amit366 opened #20 "Add small description"
**Describe the solution you'd like**
Add a small description below the icon of each topic.

[2021-07-02 04:02] Amit366 commented on #18
@Swastik1710 start working on this one but don't send the PR before 10th. As some other project admins are saying that from 10th the program starts.

[2021-07-02 04:09] Swastik1710 commented on #18
Yeah okay.
Will keep that in mind.

[2021-07-02 10:02] Swastik1710 commented on #20
Hey @Amit366, can you please assign this issue to me.
I would love to work on this.

[2021-07-02 10:45] dgulve commented on #18
Can one issue be solved by only one person?

[2021-07-02 10:56] Amit366 commented on #18
@dgulve yes. Since only one feature can be added.

[2021-07-02 13:33] Swastik1710 commented on #18
![FireShot Capture 052 - Fun With Physics - localhost](https://user-images.githubusercontent.com/71871571/124282140-1c21f000-db68-11eb-9761-947b42214394.png)

Here's the footer.
Do let me know your views on this @Amit366

[2021-07-02 14:00] Amit366 commented on #18
It's looks cool.

[2021-07-02 14:43] Swastik1710 commented on #18
Ohkay so I'll send a PR as soon as the program starts.

[2021-07-06 06:38] Prashantvik commented on #13
Hi Amit, I'd like to work on this.

[2021-07-06 06:39] Amit366 commented on #13
@Prashantvik heyy u can add but do u know exactly what u need to do??

[2021-07-09 07:38] techabhi08 commented on #20
Hello @Amit366 Sir, can you please assign me this issue?

[2021-07-09 07:39] techabhi08 commented on #13
hello @Amit366 sir, can you please assign this to me?

[2021-07-09 07:41] techabhi08 commented on #2
@Amit366 sir please assign this to me

[2021-07-09 08:12] aakankshabhende opened #21 "Adding Code of Conduct file"
Creating a Code of Conduct which everyone must abide by and mentioning the Scope of this Code of Conduct.

[2021-07-09 08:18] Amit366 commented on #20
@Swastik1710 is already working on it

[2021-07-09 08:28] techabhi08 commented on #20
okay sir.

[2021-07-10 11:29] payaldutta opened #22 "Create an Issue & Pull Request Template"
AIM
Create a custom Issue and Pull Request Template.

Features
Make an Issue Template. Any new Contributor must be able to specify if it is a new script or enhancement to an older one. It should also be specified which language he is coding it in.

Make a Pull Request Template. Any new Contributor must be able to specify if he has met all the requirements like Clean Code, proper README and Documen

[2021-07-10 11:32] payaldutta commented on #22
@Amit366 Do assign me this issue under DCP'21.
Thank You.

[2021-07-10 11:50] Amit366 commented on #22
@payaldutta there already exist an Issue and Pr templates

[2021-07-10 14:32] payaldutta commented on #22
Okay, Thanks for informing.

[2021-07-10 14:32] #22 closed

[2021-07-10 15:24] manasb15 opened #23 "Updating the minor errors in Readme.md"
There are a few small documentation errors in the readme file, I would like to correct them.

@Amit366 please assign me this issue if you think it is okay.

[2021-07-10 15:26] Amit366 commented on #23
@manasb15 may I know the changes u wanna do??

[2021-07-10 15:31] manasb15 commented on #23
@Amit366 Sorry for not specifying. In sentences like:
How it differs from other problem-solving projects?
 FunwithPysics is open source
 If you think that you can add a new feature or want to fix a bug. We invite you to contribute to FunwithPhysics and make this project better.
 Are you bored with the long calculations?
 Thanks to these wonderful peoples

 There are minor grammar errors in these

[2021-07-10 15:40] Amit366 commented on #23
Ok go ahead

[2021-07-10 15:42] Amit366 commented on #23
Please specify the mistake and what r the errors?

[2021-07-10 18:26] manasb15 commented on #23
@Amit366 Should i specify the mistakes here or in a PR?

[2021-07-10 19:08] Amit366 commented on #23
Yeah because it's waste to contribute by just correcting some spelling mistakes or anything. If u want then please contribute to the project.

[2021-07-10 19:11] Amit366 commented on #21
@aakankshabhende https://docs.google.com/forms/d/e/1FAIpQLSechAFsQtArBOd7YR1OUJGlexwShD7uPW68YtUJpSCbaZh1gg/viewform

Fill this form for the 3 PRs merged and labelled as DevIncept.

[2021-07-10 19:12] Amit366 commented on #21
Are u in the slack channel?

[2021-07-10 22:53] Sitanshu-AI opened #24 "LOGO"

[2021-07-11 02:42] william-monroy opened #25 "Responsive design"
### 🚀Description
I would like to implement a responsive design for the website so that the contents can be viewed properly on various devices. Could you assign me this issue?

[2021-07-11 03:33] Amit366 commented on #24
@Sitanshu-AI this issue is already opened and a person is already working on it.

[2021-07-11 03:33] #24 closed

[2021-07-11 03:38] #12 closed

[2021-07-11 05:19] techabhi08 commented on #2
@Amit366 Sorry sir but I am not able to run this project on my PC. It would be very helpful if I can get the theme of website or the Screenshot of the home page, so that I can make the logo accordingly.

[2021-07-11 05:39] Amit366 commented on #2
@techabhi08 if u r not able to run the project, then u need to download node modules and then run it.

[2021-07-11 05:53] aakankshabhende commented on #21
Yes @Amit366

[2021-07-11 05:55] Amit366 commented on #21
Ok @aakankshabhende fill the above form for the 3 merged PRs  that are labelled

[2021-07-11 06:01] aakankshabhende commented on #21
individually for the 3 PRs right? @Amit366 sir

[2021-07-11 06:03] Amit366 commented on #21
@aakankshabhende yes.

[2021-07-11 06:04] Amit366 commented on #21
And also here after any PR merged u need to fill the form.

[2021-07-11 06:35] #18 closed

[2021-07-11 06:56] manasb15 commented on #23
@Amit366 Thanks. I will contribute to the project as well soon!

[2021-07-11 08:19] #21 closed

[2021-07-11 10:05] Swastik1710 commented on #20
Hey  @Amit366 , is this fine?

![Screenshot 2021-07-11 153414](https://user-images.githubusercontent.com/71871571/125190968-a26fbd80-e25d-11eb-9fbd-eced67a169a6.jpg)

[2021-07-11 10:11] Amit366 commented on #20
Yeah

[2021-07-11 10:57] Amit366 opened #31 "Add friction formula"
**Is your feature request related to a problem? Please describe.**
Add friction formula

**Describe the solution you'd like**
In classical mechanics section add the topic friction and then in that add the formula along with some contents.
(On clicking classical mechanics it should open a contents page where there would be different topic names. Then on clicking the topic name a page should open wh

[2021-07-11 10:58] #20 closed

[2021-07-11 12:16] manasb15 commented on #23
@Amit366 Can you assign me this under DCP21 label please?

[2021-07-11 12:16] RakeshCharpe commented on #31
I would to like to work on this issue under DCP'21. Please assign to me.

[2021-07-11 12:25] Amit366 commented on #23
Yes it's is assigned under DCP21. The labels with the merged PRs will be counted. So don't worry.
@manasb15

[2021-07-11 15:32] Amit366 opened #32 "Add gravitation formulas in classical mechanics"
**Is your feature request related to a problem? Please describe.**
Add gravitation formula

**Describe the solution you'd like**
Add a section in classical mechanics and in that add the formula and also some content.

[2021-07-11 19:10] mayank-wadhwa-git commented on #13
Can you please further elaborate on what is to be done.
I would like to work on this.

[2021-07-12 03:36] Amit366 commented on #13
@mayank-wadhwa-git in the classical mechanics section add a heading as force. Now on clicking the heading force, a calculator will open up. In the calculator page there should be some content about force and also force calculator.

[2021-07-12 05:28] swathi-469 opened #34 "CONTRIBUTION"
I would like to create an. Contribution.md file for the Beginners in the open source with step by step instructions, screenshots and resources. Please assign this to me

[2021-07-12 06:48] Amit366 opened #35 "Go to top arrow is not visible in the footer"
**Describe the bug**
Make the go to top arrow visible at the footer section

[2021-07-12 07:51] #23 closed

[2021-07-12 07:52] #34 closed

[2021-07-12 08:03] Swastik1710 commented on #35
Please assign this issue to me.

[2021-07-12 08:33] purohitmansi commented on #35
Please do assign this to me.

[2021-07-12 08:45] Amit366 commented on #35
@purohitmansi sorry it's come first serve. U can try out other issues.

[2021-07-13 06:04] #35 closed

[2021-07-13 06:08] Amit366 commented on #13
@mayank-wadhwa-git do u want to work on this issue??

[2021-07-13 06:14] mayank-wadhwa-git commented on #13
Yes sir, I would like to try it.

[2021-07-13 06:35] Amit366 commented on #13
ok

[2021-07-13 14:44] Hiteshsukhwani29 commented on #32
I would to like to work on this issue under DCP'21. Please assign this to me

[2021-07-14 05:50] #25 closed

[2021-07-14 07:57] Amit366 commented on #2
@techabhi08 r u working on it??

[2021-07-14 08:34] techabhi08 commented on #2
Yes sir will try to submit by this weekend. The problem was that I was unable to run your project and this problem is coming only with this project. I contributed to other places too the code was running perfectly. That's why I asked for the theme of website so that I can make logo in that theme.

[2021-07-14 08:37] Amit366 commented on #2
@techabhi08 others are able to run it on their local system.

[2021-07-14 08:37] Amit366 commented on #2
Have u installed node moduls?

[2021-07-14 08:46] techabhi08 commented on #2
yes sir. I even thought that might my system requires new dependencies version so I ran npm modules to update those dependencies accordingly.

[2021-07-14 08:49] techabhi08 commented on #2
Ok sir will try again give me time till this weekend

[2021-07-14 09:03] techabhi08 commented on #2
Sir I installed again and it is opening now. Some vulnerabilities were there so I deleted them and now its running. I just want to confirm now that this project is labelled under DevIncept right?

[2021-07-14 09:04] Amit366 commented on #2
@techabhi08 yes it is under DevIncept

[2021-07-14 09:05] techabhi08 commented on #2
Okay sir will submit the PR on this weekend

[2021-07-14 10:27] jatinjain001 opened #39 "There is no navigation in any of the physics field(Classical, Thermo dynamics, etc..)"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
I want the navigation through the learn page to the chosen field

**Describe alternatives you've considered**
Working on one by one field

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-14 10:33] Amit366 commented on #39
@jatinjain001 for each field there will be a content page and then a calculator page. For that there are issues already open. If u want to add any calculator u can check out the issues.

[2021-07-14 10:34] Amit366 commented on #39
So I am closing this issue

[2021-07-14 10:34] #39 closed

[2021-07-14 10:36] Amit366 commented on #31
@RakeshCharpe are u working on this issue??

[2021-07-14 11:09] RakeshCharpe commented on #31
Due to exams it delay so you can unassign me.

[2021-07-14 17:29] devesh-2002 commented on #31
I am a contributor under DCP21. May I look after this issue?

[2021-07-14 17:44] Amit366 commented on #31
@devesh-2002 yes u can try out

[2021-07-16 13:54] kumarishalini6 opened #41 "Scroll to top button"
**Describe the bug**
Scroll to top button doesn't work properly
@Amit366 can i work on this issue??

[2021-07-16 13:55] kumarishalini6 opened #42 "Custom scrollbar"
I want to make custom scroll bar for this website
@Amit366 can i work on this issue??

[2021-07-16 13:56] kumarishalini6 opened #43 "Modifications in FAQ page"
**Describe the bug**
There is no FAQ page found but the link is given
@Amit366  i want to make FAQ page can i ??

[2021-07-16 14:18] Amit366 commented on #41
@kumarishalini6 it works properly

[2021-07-16 14:19] Amit366 commented on #42
@kumarishalini6 yes u can go ahead.

[2021-07-16 14:19] Amit366 commented on #43
@kumarishalini6 go ahead.

[2021-07-16 14:20] Amit366 commented on #43
See make it a pop up if u can. But if u r comfortable with a separate page then fine. But  a pop up is recommended.

[2021-07-16 14:22] kumarishalini6 commented on #41
Ok

[2021-07-16 14:22] #41 closed

[2021-07-16 14:25] kumarishalini6 commented on #43
Ok I'll , before sending PR I'll send video

[2021-07-16 18:34] jatinjain001 commented on #32
can anyone please give me idea like ? what we have to do ?

[2021-07-16 18:41] Amit366 commented on #32
@jatinjain001 hitesh is already working on it. U can try the other issues.

[2021-07-17 10:39] #42 closed

[2021-07-19 10:09] Amit366 commented on #31
@devesh-2002 any update??

[2021-07-19 10:10] Amit366 commented on #32
@Hiteshsukhwani29 any update?? If not then @jatinjain001 can try out.

[2021-07-19 10:10] Amit366 commented on #2
@techabhi08 any update??

[2021-07-19 10:11] Amit366 commented on #43
@kumarishalini6 any update?

[2021-07-19 10:14] Amit366 opened #45 "Add momentum calculator"
**Is your feature request related to a problem? Please describe.**
Add momentum calculator

**Describe the solution you'd like**

In classical mechanics section add the topic momentum and then in that add the formula along with some contents.
(On clicking classical mechanics it should open a contents page where there would be different topic names. Then on clicking the topic name a page should ope

[2021-07-19 10:16] Amit366 opened #46 "Collision calculator"
**Is your feature request related to a problem? Please describe.**
Add collision calculator

**Describe the solution you'd like**
In classical mechanics section add the topic collision and then in that add the formula along with some contents.
(On clicking classical mechanics it should open a contents page where there would be different topic names. Then on clicking the topic name a page should op

[2021-07-19 10:48] kumarishalini6 commented on #43
Actually today was my last external , I am working on it

[2021-07-19 11:47] devesh-2002 commented on #31
I won't be able to complete this due to some reasons, you can unassign me.

On Mon, 19 Jul 2021, 15:39 Amit Kumar Mishra, ***@***.***>
wrote:

[2021-07-19 18:53] kumarishalini6 commented on #43
Can you suggest me some questions I am getting confused what to add?

[2021-07-19 19:04] kumarishalini6 commented on #43
Is this ok or need some changes??

https://user-images.githubusercontent.com/69043944/126213382-03b09b6c-1c5c-48ed-9b0b-03bbedf5de41.mp4

[2021-07-19 19:07] Amit366 commented on #43
The pop up is fine but on clicking the FAQ on the navbar directly the pop up should appear.

[2021-07-19 19:08] Amit366 commented on #43
@kumarishalini6 and also make it a whitish grey as it will match with the dark background.

[2021-07-19 19:09] kumarishalini6 commented on #43
Ok and questions??

[2021-07-19 19:09] Amit366 commented on #43
@kumarishalini6 the first question can be what is this website for??
2) How to use this website?

[2021-07-19 19:11] kumarishalini6 commented on #43
Ok

[2021-07-19 19:12] Amit366 commented on #43
Ans 1) This website is to make your physics easy. Just enter the values into the formula and you will get the answer with the procedure.
2) Just click on the Learn button on the homepage. Then choose the branch of physics and click on it. Next on the contents page choose the topic and then enjoy with the calculator.

[2021-07-19 19:14] Amit366 commented on #43
Q3) How to contact us?
A3) on the navbar click on contact us and then write your queries or follow us on our social media handles.

[2021-07-19 19:17] Amit366 commented on #43
@kumarishalini6 are u interested in making the calculators?? If yes then dm me on slack and choose the calculator u wanna do from the issues section.

[2021-07-20 02:59] kumarishalini6 commented on #43
is it ok now ??

https://user-images.githubusercontent.com/69043944/126255281-48a27ac4-64f8-417c-804b-685659364df8.mp4

[2021-07-20 03:42] Amit366 commented on #43
@kumarishalini6 why have u made the pop up smaller. The pop up u did earlier was nice but the only thing I asked u was to show the pop up on clicking the FAQ. Previously what u did was , on clicking the FAQ u r redirected to a new FAQ page and then the pop up. It should be directly pop up.

[2021-07-20 03:48] Amit366 commented on #43
https://amit366.github.io/portfolio/
U can checkout the pop up services section. On clicking view more on services section.

[2021-07-20 04:22] kumarishalini6 commented on #43
![Fun With Physics - Personal - Microsoft​ Edge 7_20_2021 09_51_25 AM](https://user-images.githubusercontent.com/69043944/126261525-3fdb883a-e889-415a-afde-3d0f23044c73.png)

[2021-07-20 04:36] Amit366 commented on #43
@kumarishalini6 just make the background transparent and also change the color of the questions to whitish grey

[2021-07-20 05:01] kumarishalini6 commented on #43
It's looking odd with transparent background

[2021-07-20 05:05] Amit366 commented on #43
@kumarishalini6 but if there is a pop up then I think it's natural to have the background transparent. Because in any website u see it's the same. And if u change the color of pop up to whitish grey then transparent background will be nice. Once try it.

[2021-07-20 05:46] kumarishalini6 commented on #43
![Fun With Physics - Personal - Microsoft​ Edge 7_20_2021 11_14_24 AM](https://user-images.githubusercontent.com/69043944/126268070-21a836d4-9f0e-4d1f-b8ee-5f9d0e51d564.png)

![Fun With Physics - Personal - Microsoft​ Edge 7_20_2021 11_14_34 AM](https://user-images.githubusercontent.com/69043944/126268110-fd3730e2-23d1-4d87-884b-cdb650cd6c6b.png)

[2021-07-20 05:47] Amit366 commented on #43
@kumarishalini6 why have u changed the pop up background to transparent?? I said the homepage background to be transparent

[2021-07-20 05:48] Amit366 commented on #43
That's why I sent u the sample pop up link above

[2021-07-20 05:50] Amit366 commented on #43
Wait let me explain u everything.
First of all in a pop up the contents of the homepage shouldn't be pushed down. Next the pop up should have a whitish grey background with the questions in black color. Next the home page should be transparent.

[2021-07-20 09:40] kumarishalini6 commented on #43
https://user-images.githubusercontent.com/69043944/126300119-5427e7d7-8b4c-41f3-bc37-cff89a287b50.mp4

[2021-07-20 09:43] Amit366 commented on #43
@kumarishalini6 this is fine but can u make the home background transparent when clicked on FAQ?

[2021-07-20 09:44] Amit366 commented on #43
And one more Bring the heading FAQ for you to the center. And change the color to white

[2021-07-20 09:45] kumarishalini6 commented on #43
I have tried this but don't know why the code is not working

[2021-07-20 09:45] kumarishalini6 commented on #43
Ok

[2021-07-20 09:54] kumarishalini6 commented on #43
Done

[2021-07-20 10:05] #43 closed

[2021-07-20 10:09] Amit366 opened #49 "Modification in FAQ page"
**Is your feature request related to a problem? Please describe.**
Modify the FAQ page

**Describe the solution you'd like**
On clicking the FAQ link on the navbar make the home page transparent so that the FAQ alert pops up. And also make the transition from question to answer smooth using CSS.

[2021-07-22 16:48] souravseal99 commented on #49
Hi @Amit366 👋🏼, I would like to work on this.

[2021-07-22 16:51] Amit366 commented on #49
@souravseal99 go ahead.

[2021-07-22 16:52] Amit366 commented on #49
Make it like a proper pop up.

[2021-07-24 19:18] aditya687 commented on #2
Please assign me this issue I will design the logo @Amit366

[2021-07-24 19:20] aditya687 commented on #49
I want to make the faq section much better if you assign me

[2021-07-24 19:21] Amit366 commented on #2
@aditya687 the logo is already designed but u need to add it to the website. If u want to work then tell me

[2021-07-24 19:21] Amit366 commented on #49
@souravseal99 is working if by Tuesday he doesn't finish then I will assign it to u.

[2021-07-24 19:22] Amit366 commented on #49
Ok @aditya687

[2021-07-24 20:25] aditya687 commented on #49
Okk sir, let him do this.

On Sun, 25 Jul, 2021, 12:52 AM Amit Kumar Mishra, ***@***.***>
wrote:

[2021-07-24 20:25] aditya687 commented on #2
Yes sir

On Sun, 25 Jul, 2021, 12:51 AM Amit Kumar Mishra, ***@***.***>
wrote:

[2021-07-25 16:41] priyakumari02 commented on #9
Can I work on this issue?

[2021-07-25 16:48] Amit366 commented on #9
@priyakumari02 u can choose the issues and comment on them. Then u will be assigned.

[2021-07-26 03:37] souravseal99 commented on #49
Thanks @Amit366 , just made the PR, please let me know if it seems good to you.

[2021-07-26 06:23] aditya687 commented on #2
Sir, I'm unable to open this project. What shall I do if it is showing error?

[2021-07-26 06:25] Amit366 commented on #2
@aditya687 u need to install the node modules

[2021-07-26 06:32] aditya687 commented on #2
Sir, I have already installed and done a react project and that time it
shown this type of error but, don't know why it is showing now maybe due to
vulnerabilities I think so.

On Mon, 26 Jul, 2021, 11:55 AM Amit Kumar Mishra, ***@***.***>
wrote:

[2021-07-26 06:38] Amit366 commented on #2
@aditya687 there are no vulnerabilities as just now someone has sent a PR. Maybe u need to install for this project in its path.

[2021-07-26 06:45] aditya687 commented on #2
Okk, I'm checking once again

On Mon, 26 Jul, 2021, 12:08 PM Amit Kumar Mishra, ***@***.***>
wrote:

[2021-07-27 05:16] #49 closed

[2021-07-27 05:25] souravseal99 commented on #45
Hi @Amit366 , I would like to work on it, can we discuss a bit more about this issue..

[2021-07-27 05:30] Amit366 commented on #45
@souravseal99 heyy u can dm me on slack. If u have any doubt.

[2021-07-27 18:58] aditya687 commented on #2
Sorry sir, I couldn't help due to certain problems in npm updates and you can unassign me. I will look for other issues if possible except this issue.

[2021-08-02 15:18] #45 closed

[2021-08-03 05:47] ashish-patwal commented on #31
If it's still open can i work on this issue ?

[2021-08-03 05:58] Amit366 commented on #31
@ashish-patwal no, this isn't opened. U can try out other calculators

[2021-08-03 06:01] ashish-patwal commented on #32
is this issue up for grab @Amit366 ?

[2021-08-03 06:04] Amit366 commented on #32
@ashish-patwal yes u can work on it

[2021-08-03 06:04] ashish-patwal commented on #32
Thanks , i will start working on it ; )

[2021-08-03 06:05] Amit366 commented on #32
@ashish-patwal first ho through the readme file and check the setup of the project

[2021-08-03 06:05] ashish-patwal commented on #32
sure i willl

[2021-08-03 06:05] Amit366 commented on #32
And for any queries u can ping me on slack

[2021-08-03 06:06] ashish-patwal commented on #32
thank you for your assistance !

[2021-08-03 07:41] Amit366 commented on #32
@ashish-patwal can u complete it by 6 Aug??

[2021-08-03 07:55] Amit366 opened #53 "Error Measurements"
**Is your feature request related to a problem? Please describe.**
Add Error measurements calculator

**Describe the solution you'd like**
Just follow the momentum calculator and similar to it add the contents of error measurements

[2021-08-03 07:56] Amit366 opened #54 "Kinematics"
**Is your feature request related to a problem? Please describe.**
Add Kinematics calculator

**Describe the solution you'd like**
Follow the momentum calculator and add the contents of kinematics

[2021-08-03 08:14] souravseal99 commented on #31
Hi @Amit366 , just completed the task.  making a PR shortly.

[2021-08-03 08:16] ashish-patwal commented on #32
Yeah . I can do that .

[2021-08-03 08:34] Amit366 commented on #31
Yes send

[2021-08-03 11:32] Hiteshsukhwani29 commented on #13
I would to like to work on this issue under DCP'21. Please assign this to me

[2021-08-03 11:36] Amit366 commented on #13
@Hiteshsukhwani29 go ahead

[2021-08-03 11:38] Umesh-01 opened #55 "Add some badges to the top of README"
### **Is your feature request related to a problem? Please describe.**
Add some more badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

![image](https://user-im

[2021-08-03 11:39] Amit366 commented on #13
@Hiteshsukhwani29 send the PR by 6 Aug.

[2021-08-03 11:40] Amit366 commented on #55
@Umesh-01 what type of badges??

[2021-08-03 11:41] Hiteshsukhwani29 commented on #13
sure

[2021-08-03 11:41] Hiteshsukhwani29 commented on #13
okay

[2021-08-03 11:41] Umesh-01 commented on #55
like the badges you have @Amit366, below Einstein's image...

[2021-08-03 11:42] Amit366 commented on #55
@Umesh-01 but all the badges are present. What extrau want to add??

[2021-08-03 11:43] Umesh-01 commented on #55
Have a look on this @Amit366

![image](https://user-images.githubusercontent.com/83420185/128009592-ba6cb6e1-ec5f-4ee9-ba5f-81d08ced6c2a.png)

[2021-08-03 11:44] Amit366 commented on #55
Ok then go ahead but don't change the existing badges.

[2021-08-03 11:45] Umesh-01 commented on #55
at present time after clicking on the badges they takes us to page like this-

![image](https://user-images.githubusercontent.com/83420185/128009821-88c7ed5c-056d-4c8c-bd35-08409b58edaf.png)

I will add links to them so that they can take us to the related web page/section

[2021-08-03 11:45] Umesh-01 commented on #55
Should I make them all of single type or not??

[2021-08-03 11:47] Umesh-01 commented on #55
and btw I am not a part of DCP @Amit366 😄
I am just a contributor...

[2021-08-03 14:42] #31 closed

[2021-08-03 16:37] Amit366 commented on #32
@ashish-patwal check out the other calculator and design it in the same way.

[2021-08-03 17:00] ashish-patwal commented on #32
yeah i was actually in between modifying the overall calculator function , when i saw this pull actually fixed all that . Saved me some extra work . Thanks to him .

[2021-08-04 07:35] #32 closed

[2021-08-04 07:51] ashish-patwal commented on #53
Can i work on this issue @Amit366 ?

[2021-08-04 07:59] Amit366 commented on #53
@ashish-patwal yes u can but add as much formula as possible

[2021-08-04 07:59] Amit366 commented on #53
and also if possible add some content

[2021-08-04 08:09] ashish-patwal commented on #53
Yes i will .

[2021-08-04 14:13] #55 closed

[2021-08-05 05:39] #13 closed

[2021-08-05 06:03] ashish-patwal opened #60 "force.jpg source is not present"
**Describe the bug**
force.jpg required for force section in classical mechanics section is missing from images folder

**To Reproduce**
Steps to reproduce the behavior:
1. yarn start

**Expected behavior**
The site should have loaded with the image force.jpg

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - O

[2021-08-05 06:04] Amit366 commented on #60
@ashish-patwal it is present.

[2021-08-05 06:05] Amit366 commented on #60
@ashish-patwal it is already present

[2021-08-05 06:05] #60 closed

[2021-08-05 06:07] ashish-patwal commented on #60
you literally did it right now  🤣 !

[2021-08-05 06:11] Amit366 opened #62 "Add Different more formulas to the Gravitation section"
**Is your feature request related to a problem? Please describe.**
Add contents inside gravitation folder.

**Describe the solution you'd like**
As there are many formulas in gravitation so need to add all . To do that add different contents in the gravitation section like acceleration, potential and so on and when user clicks on the topic then the calculator should appear.

[2021-08-05 06:15] Hiteshsukhwani29 opened #63 "Add 'Work Power Energy' page"
**Describe the solution you'd like**
Add Work Power Energy page

[2021-08-05 06:15] Amit366 commented on #60
@ashish-patwal how would I know people r so eager to contribute to my project that they are finding out bugs. 😅😅
I am pleased with it and from now on after merging any issue or if I find any bug, I will not solve it.

[2021-08-05 06:18] Hiteshsukhwani29 commented on #63
I would to like to work on this issue under DCP'21. Please assign this to me

[2021-08-05 06:20] ashish-patwal commented on #60
No it's cool . I was just doing the daily pull from the upstream and then the code crashed . Then i saw that the jpg was missing and just created the issue 😄 .

[2021-08-05 06:26] Amit366 commented on #60
@ashish-patwal if u want u can add the logo to the navbar. The logo image is present in the repo , u just need to add it to the website

[2021-08-05 06:35] ashish-patwal commented on #60
ok , let me make the changes then .

[2021-08-05 06:37] Amit366 commented on #60
There is already an issue opened .Check it out

[2021-08-05 06:38] ashish-patwal commented on #60
ok , i will see to it .

[2021-08-05 07:24] #2 closed

[2021-08-05 20:35] Hiteshsukhwani29 opened #65 "Add Torque page"
**Describe the solution you'd like**
Add torque definition, image, calculator

[2021-08-05 20:38] Hiteshsukhwani29 commented on #65
I would to like to work on this issue under DCP'21. Please assign this to me

[2021-08-06 04:54] Amit366 commented on #63
@Hiteshsukhwani29 what about work power energy??

[2021-08-06 04:55] Amit366 commented on #53
@ashish-patwal r u working on it??

[2021-08-06 05:33] ashish-patwal commented on #53
yes , i had some other work to do urgently . That's why the delay .

[2021-08-06 11:24] #65 closed

[2021-08-06 11:25] #53 closed

[2021-08-09 05:22] #63 closed

[2021-09-01 09:30] Amit366 opened #72 "Bug in Link tag"
**Describe the bug**
The link tag doesn't redirect to the top of the next page.

[2021-09-01 09:32] Amit366 opened #73 "Error in loading the gravitational force page"
**Describe the bug**
On clicking the Gravitational force button the page is blank. All the codes are written properly but there is some error. Correct it.

[2021-09-01 09:36] Amit366 opened #74 "Adding more features to home page."
**Is your feature request related to a problem? Please describe.**
Add some more features to home page.

**Describe the solution you'd like**
Create two sections below the Learn heading. On side add buttons related to computer topics like Networking, DBMS and on the other side add topics of science like Maths, Physics and so on.
UI design should be good.

[2021-09-01 09:37] Amit366 opened #75 "Contact us"
**Is your feature request related to a problem? Please describe.**

Link the contact us on the navbar to the footer.

[2021-09-01 09:39] Amit366 opened #76 "Footer FAQ"
**Is your feature request related to a problem? Please describe.**

On clicking the FAQ on footer section the same pop up should appear as the FAQ on the navbar.

[2021-09-02 17:00] aakankshabhende commented on #75
Can I work on this issue @Amit366?

[2021-09-20 05:50] Amit366 commented on #75
@aakankshabhende I am sorry I haven't seen ur message but if u want then u can contribute and if u are participating in hactoberfest then u can contribute once the event starts.

[2021-09-21 04:46] nayabatir1 commented on #76
Hi @Amit366
I can help you with this task

[2021-09-21 07:46] Amit366 commented on #76
@nayabatir1 are u a hacktober fest participant??

[2021-09-21 07:48] nayabatir1 commented on #76
@Amit366 I'm new to open source don't know much about it.

[2021-09-21 07:51] Amit366 commented on #76
@nayabatir1 if you want to take part in hacktoberfest then u can and then contribute, but if you don't wanna take part and just contribute for learning then also u are welcome.

[2021-09-21 07:57] nayabatir1 commented on #76
@Amit366 I would really appreciate your help if you could guide me how to participate in hacktoberfest,

[2021-09-21 08:00] Amit366 commented on #76
@nayabatir1 I have pinned a message in the issues section. In that click on hacktoberfest. then u will be redirected to official website.

[2021-09-21 08:25] nayabatir1 commented on #76
@Amit366 sure will do by eod.

[2021-09-24 00:32] laisfrigerio commented on #74
Hello @Amit366

I would like to take this issue. Could you please share the links from topics, I mean, when user click the button, where do you want to redirect user? Redirect to a medium blog, open a modal with some content, etc??

[2021-09-24 03:32] Amit366 commented on #74
@laisfrigerio see I haven't decided the UI for the buttons on the home page. So it is upto u to make a good UI ans organize the buttons. And more feature in the sense add a button which will redirect to a problem solving section. Like on clicking the button, it should redirect to a page where there will be many mcq physics questions and the questions should appear one by one.

[2021-09-25 01:07] laisfrigerio commented on #74
@Amit366 Okay. But the links will be from your site? in this issue, I should create the "buttons" and the pages where will be the mcq physics questions??

[2021-09-25 01:47] laisfrigerio commented on #73
@Amit366 maybe, I could help in this issue.

The error is the following verification:

[code]

When we get in into "gravitational force" the topic is "Gravitational Force"

But the WPE_list has a list with topic "Work" and "Power"

Is different  the topic's name ("Gravitational Force"). That's why "page" variable is empty array. "Details" variable will be undefined and return an error.

Please, co

[2021-09-25 03:37] Amit366 commented on #74
@laisfrigerio There will be pages for mcq questions, for which the structure of the questions page will be designed. And later the questions can be added. So you can add a button and then if u can design the questions page.

[2021-09-25 03:42] Amit366 commented on #73
@laisfrigerio the main expectation is that when clicking Gravitational force there should open a page with different topics and then on clicking the specific topic then the calculator must open. But the issue is the page with different topics is opening but further the calculator is not opening. You can check the problem in the website.

[2021-09-27 10:32] kunalkumar007 opened #78 "Warning: No duplicate props allowed"
**Describe the bug**
I just cloned the repo in order to make some contribution and found that this repo is giving this warning as

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'src/Components/Classical Mechanics/Topics/Calculator.js'
2. Click on 'Terminal'
4. See error.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="560" alt="Screenshot 2021

[2021-09-27 10:34] Amit366 commented on #78
@kunalkumar007 r u a participant of Hacktober fest??

[2021-09-29 21:23] laisfrigerio commented on #73
@Amit366 in the following page: https://myfunwithphysics.web.app/classicalmechanics has some "topics"

If I click  "Momentum" is will open the following page: https://myfunwithphysics.web.app/classicalmechanics/calc/Momentum
If I click "Torque" is will open https://myfunwithphysics.web.app/classicalmechanics/calc/Torque

This two links has a singulatiry: they open a description about each topic wi

[2021-09-30 03:37] Amit366 commented on #73
@laisfrigerio see like on clicking work power energy , it opens a page where there is option for work and power and then when clicking anyone of them the description along with calculator opens up. Similarly for gravitation, there is an options page. On clicking on gravitational force the page is blank. The task is to find the error why the page is blank.

[2021-09-30 03:38] Amit366 commented on #73
And also there are issues for adding more calculators. If you feel that you can create calculators similar to the existing once then you can take up those issues.

[2021-09-30 03:41] Amit366 commented on #73
topics and content in topics_data.js and wpe_data.js are incomplete as more calculators are to be added for which there are different issues in the issues section.

[2021-09-30 09:39] laisfrigerio commented on #73
Hello @Amit366 thanks for your reply and example. I understood now the purpose.

Can you please check is the image content is as expected?

![screencapture-localhost-3000-classicalmechanics-calc-gravitation-Gravitational-Force-2021-09-30-06_31_28](https://user-images.githubusercontent.com/20709086/135427778-3209d053-90a1-4e39-8a40-f728c846053c.png)

I fix error loading page and add some informatio

[2021-09-30 09:52] Amit366 commented on #73
@laisfrigerio it's perfect but there is already a file with contents right?? And I think in that there is calculator part.

[2021-09-30 09:53] Amit366 commented on #73
Did u modify that file??

[2021-09-30 09:58] laisfrigerio opened #81 "Redesign footer"
**Describe the solution you'd like**
I would like to purpose a redesigned to footer

**Describe alternatives you've considered**

**Additional context**
For example:
![funwithfisica-footer-redesign](https://user-images.githubusercontent.com/20709086/135430616-922f7fc5-bd60-4c14-bb7c-7e80ef3af73f.png)

- Using green color (from logo) instead of yellow;
- Added more spacing between elements;
- Chang

[2021-09-30 10:01] Amit366 commented on #81
@laisfrigerio see the present footer is perfect as it was changed 3 to 4 times but if u want u can just change the color to green and add more spacing and nothing else.

[2021-09-30 10:02] Amit366 commented on #81
You can check out other issues and work on them else  if u wish u can add any other feature.

[2021-09-30 10:06] laisfrigerio commented on #73
Actually, not
But I will correct.
Thanks for the advice

[2021-09-30 11:46] laisfrigerio commented on #81
Change de color and spacing:

![funwithfisica-footer-redesign-2](https://user-images.githubusercontent.com/20709086/135449386-4fc517e8-aa86-48e9-9ada-d6014eb7855b.png)

[2021-09-30 11:53] Amit366 commented on #81
@laisfrigerio yeah cool but don't send the PR now as there are already 3 pending PRs which will be cleared tomorrow, so u need to update ur cloned repo. After that u can send the PR.

[2021-09-30 16:05] laisfrigerio commented on #72
@Amit366 what's page I can test this issue?

[2021-09-30 16:23] Amit366 commented on #72
@laisfrigerio did u solve that gravitational force one??

[2021-09-30 16:40] laisfrigerio commented on #74
Yes @Amit366

[2021-09-30 16:48] Amit366 commented on #72
@laisfrigerio since you r working on 3 issues so send the pull request and then u can work on others.

[2021-09-30 17:00] laisfrigerio commented on #74
From while, I have the following:

![funwithfisica-home-section-1](https://user-images.githubusercontent.com/20709086/135499037-f07a8763-dc9f-4d35-96b2-fab82bfb0deb.png)

Do you have more suggestions? What do you think about it??

[2021-09-30 17:03] laisfrigerio commented on #72
@Amit366 I solved gravitational force  issue (in the following branch https://github.com/laisfrigerio/FunwithPhysics/tree/bug/gravitation-page)

[2021-09-30 17:04] Amit366 commented on #74
@laisfrigerio this is also good but change the background according to the home page. And then if we keep this in the home page then do u have any idea of how to redirect the user to calculators page and also the mcq page(which is to be made)???

[2021-09-30 17:07] Amit366 commented on #74
And remember to send PRs for each issue separately so that each will be counted as a contribution in Hacktober fest.

[2021-09-30 17:08] Amit366 commented on #72
@laisfrigerio can u send the ss of the page??

[2021-09-30 17:37] kunalkumar007 commented on #78
Hy @Amit366 I am willing to participate in hacktoberfest. Hope this pull request helps.

[2021-09-30 18:42] Amit366 commented on #54
@Shoray2002 I hope u have checked out the other calculators, so design it in a similar manner.

[2021-09-30 18:59] Shoray2002 commented on #54
ofcourse

[2021-09-30 23:52] laisfrigerio commented on #72
@Amit366 what's mean "ss"?

[2021-09-30 23:55] laisfrigerio commented on #74
@Amit366 about background: I decided to added a different bg for this area.

What color do you prefer: white ou dark blue?

How to redirect?
- Which button is a link/anchor tag. Than you put href attribute for each button

[2021-10-01 00:04] laisfrigerio commented on #74
![screencapture-localhost-3000-2021-09-30-21_03_22](https://user-images.githubusercontent.com/20709086/135546270-6347755e-1bcc-460d-8276-ea02b2e57754.png)

This an example of full path screenshot.

[2021-10-01 00:38] laisfrigerio commented on #74
I have the following purpose:

![screencapture-localhost-3000-2021-09-30-21_37_29](https://user-images.githubusercontent.com/20709086/135548593-f025ee79-6249-4313-a427-a39434e398ec.png)

![screencapture-localhost-3000-2021-09-30-21_37_55](https://user-images.githubusercontent.com/20709086/135548594-f1b4a0be-aaab-4f59-9cf3-39a61c27ebfc.png)

[2021-10-01 00:41] laisfrigerio commented on #74
Font from icons (free svg icons):

https://www.svgrepo.com/svg/56231/computer
https://www.svgrepo.com/svg/63408/blackboard

If you have other suggestion, feel free to share :)

[2021-10-01 03:31] Amit366 commented on #72
@laisfrigerio screenshot 😅😅

[2021-10-01 03:36] Amit366 commented on #74
@laisfrigerio white bg is better.

And do one thing remove the physics calculator in red on the home page and then add then if possible add a small pop on clicking the buttons.

[2021-10-01 03:37] Amit366 commented on #74
If u can u do the pop up else I will open a new issue for that

[2021-10-01 05:12] #76 closed

[2021-10-01 05:21] #78 closed

[2021-10-01 07:40] souravseal99 commented on #46
Hi @Amit366, can I work on it?

[2021-10-01 07:47] KarishmaVanwari commented on #75
Hey @Amit366 , can I work on this issue for Hacktoberfest 2021 ?

[2021-10-01 10:07] OmGole commented on #54
Hi, can you assign me this issue, I would create the kinematics calculator just like the momentum calculator.

[2021-10-01 10:10] Amit366 commented on #54
@OmGole this is already assignment to Shoray. If u want u can open new issues of calculators and work on them.

[2021-10-01 10:26] laisfrigerio commented on #74
@Amit366  When you say "popup" is like a tooltip: https://www.w3schools.com/howto/howto_css_tooltip.asp

What type of text should have in the popup/tooltip?

[2021-10-01 10:28] laisfrigerio commented on #72
Aaah thanks @Amit366  I'll send the screenshot into pull request ;)

[2021-10-01 10:30] laisfrigerio commented on #72
@Amit366  Can you say how to test this error (from this issue) please?

[2021-10-01 10:34] Amit366 commented on #74
@laisfrigerio what I meant was like on hovering over the button it should show two options calculator and questions. Then according to the option chosen by the user it should be redirected.

[2021-10-01 10:43] laisfrigerio commented on #74
@Amit366 but why button for calculator? Isn't only links for specific topics?

This project Will make calculator from math formulas?

[2021-10-01 10:47] Amit366 commented on #74
See u have kept the buttons right in the above image which u sent?? @laisfrigerio

[2021-10-01 10:49] Amit366 commented on #74
![image](https://user-images.githubusercontent.com/60662775/135607882-3a1ebce3-0da3-46ab-8f51-3fa83c9b5452.png)

See this looks nice. But only make sections like science topic and computer totopics

[2021-10-01 10:56] laisfrigerio commented on #74
@Amit366 Alright. I'l update here and show you a screenshot ;)

[2021-10-01 11:33] Amit366 commented on #72
I have assigned u this issue. And u can find the bug when u click the red button of physics calculator on home page.

[2021-10-01 11:52] ShivamDecodes commented on #75
Hi amit bhaiya!
I Also Want to work on your project. please assign me...
I am called coding here in my class....

[2021-10-01 12:02] Amit366 commented on #75
@ShivamDecodes as u can see it is already assigned to @KarishmaVanwari . U can view other unassigned issues.

[2021-10-01 12:06] laisfrigerio commented on #74
@Amit366  a new proposal:

![screencapture-localhost-3000-2021-10-01-09_05_39](https://user-images.githubusercontent.com/20709086/135617162-41c38899-3e18-4411-9c6c-b50948f14674.png)

[2021-10-01 12:08] Amit366 commented on #74
@laisfrigerio don't use  the computer and science tags on each instead of it under a heading add the topics.

[2021-10-01 12:09] laisfrigerio commented on #74
@Amit366  I think the following one is better (without "topic" word):

![better](https://user-images.githubusercontent.com/20709086/135617449-7c39d84d-9c46-48e2-9178-34725453308f.png)

[2021-10-01 12:09] KarishmaVanwari commented on #75
Hey @Amit366 , I have created the PR. Please do review it.

[2021-10-01 12:09] laisfrigerio commented on #74
@Amit366 I'll try a proposal, but I think tag is better

[2021-10-01 12:11] Amit366 commented on #74
@laisfrigerio if u feel tag is better then do one thing make computer and science topics on separate lines.

[2021-10-01 12:12] Amit366 commented on #75
@KarishmaVanwari by Sunday it will be reviewed. Don't worry

[2021-10-01 12:14] laisfrigerio commented on #74
Done:

![done](https://user-images.githubusercontent.com/20709086/135618094-8ec7da0f-4e8c-42a8-a9d4-50d84d837ca2.png)

[2021-10-01 12:16] KarishmaVanwari commented on #75
Okay, thank you.

[2021-10-01 12:17] Amit366 commented on #74
@laisfrigerio it's good but in future many more topics will be added. So I hope it can be done easily??

[2021-10-01 12:23] laisfrigerio commented on #74
@Amit366 Yeah

The pattern:

[code]

Is ul list. Each item of list is a topic

[2021-10-01 12:26] laisfrigerio commented on #74
And is responsive to mobile pages

[2021-10-01 12:38] Amit366 commented on #74
@laisfrigerio using ul is a good idea as more

[2021-10-02 05:53] OmGole opened #88 "Momentum calculator page is not responsive"
**Describe the bug**
The mobile and tablet view for momentum calculator page is not responsive

[2021-10-02 05:54] OmGole commented on #88
I know how to fix this issue. Can you assign this to me?

[2021-10-02 05:58] Amit366 commented on #88
@OmGole none of the calculators are responsive.

[2021-10-02 06:08] OmGole commented on #88
I can make the page responsive if you assign me.

[2021-10-02 09:39] #81 closed

[2021-10-02 09:41] #75 closed

[2021-10-02 09:42] #74 closed

[2021-10-02 09:54] Amit366 opened #90 "Add options when hovering over the contents on home page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
When hovering over the contents on home page it should show two options calculator or questions.
Add this feature for both math and physics contents.

[2021-10-02 09:58] Amit366 opened #91 "Formulas for SHM"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add different formulas for SHM. Add formulas topic wise just like work power energy.

[2021-10-02 09:59] Amit366 opened #92 "Add energy formula"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add energy formula in work power energy section

[2021-10-02 10:00] Amit366 opened #93 "Add formulas for stress strain"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add topic wise formula for stress and strain

[2021-10-02 10:03] Amit366 opened #94 "Add Fluid mechanics formula"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add different fluid mechanics formula

[2021-10-02 14:12] #73 closed

[2021-10-02 14:22] #72 closed

[2021-10-03 04:22] Amit366 commented on #46
@souravseal99 r u working on it??

[2021-10-03 04:22] Amit366 commented on #54
@Shoray2002 r u working on it??
For further doubts join the discord channel whose link is in readme

[2021-10-03 04:23] Amit366 commented on #46
For further doubts join the discord channel whose link is in readme

[2021-10-03 05:27] souravseal99 commented on #46
yes @Amit366, just wrapped up the work.

yes @Amit366, just wrapped up the work.

[2021-10-03 05:28] souravseal99 commented on #46
ok, cool... 👍🏼

[2021-10-03 05:30] souravseal99 commented on #92
can I work on this ?

[2021-10-03 05:31] souravseal99 commented on #91
can I work on this?

[2021-10-03 05:42] Amit366 commented on #91
@souravseal99 make different for both waves and oscillation

[2021-10-03 06:47] Aniket-508 commented on #90
Hey @Amit366 , can I take up this issue?

[2021-10-03 06:47] Aniket-508 commented on #94
Hey @Amit366 , can I take up this issue?

[2021-10-03 06:51] Amit366 commented on #94
@Aniket-508 u can work on it for any doubts join the discord channel whose link is in readme

[2021-10-03 06:52] Amit366 commented on #94
@Aniket-508 there are many formulas so separate it just like in work power energy calculator

[2021-10-03 09:10] akashsahu006 opened #97 "Moment of Inertia"
**Is your feature request related to a problem? Please describe.**
There is no feature to calculate the moment of inertia of various different objects.

**Describe the solution you'd like**
There can be a feature to calculate the moment of inertia of different bodies like a ring, disc, solid cylinder, rectangular plate, rod, solid sphere etc.

[2021-10-03 09:11] akashsahu006 commented on #97
can I work on this issue to add this feature with several options of Ring, Disc, Hollow cylinder, triangular lamina, spherical shell, rod, solid sphere, ring, disc etc.

[2021-10-03 12:53] Aniket-508 commented on #94
![fluid](https://user-images.githubusercontent.com/71957423/135754494-f2623e20-2856-4ed1-b061-c366bf8c06c4.JPG)
Pls check if all these equations are correct and suggest some if not required or need to be added.

[2021-10-03 13:18] Amit366 commented on #97
@akashsahu006 u can.
join the discord channel for further doubts . link is in the readme

[2021-10-03 13:19] Amit366 commented on #97
@akashsahu006 add it just like work power energy section

[2021-10-03 13:24] Amit366 commented on #54
@Shoray2002 r u working on this??

[2021-10-03 13:40] Shoray2002 commented on #54
Yes will be done by Wednesday

[2021-10-03 14:01] Amit366 opened #98 "Thermodynamics calculator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add this  calculator in the thermodynamics section

[2021-10-03 14:02] Amit366 opened #99 "Kinetic theory of gas Calculator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add this calculator in the thermodynamics section

[2021-10-03 14:06] Amit366 commented on #94
@Aniket-508 yes these are correct and add it separately. Add ask these doubts on discord as it will be easy there

[2021-10-03 21:38] Gourab-18 opened #100 "Input field not accepting responses in classical mechanics portion."
Steps to find the bug-
1. Go to the physics calculator.
2. Click on Classical mechanics.
3. Go to any page out of momentum, force, etc.
4. Scroll down a bit and try to enter the value of the second input field. It's not accepting responses especially on large screens like laptops.
**Possible solution**
If you check the second input field by going to dev tools. Then you won't see the second input f

[2021-10-04 04:20] Amit366 commented on #100
@Gourab-18 u can work on this issue.

[2021-10-04 05:15] Amit366 opened #102 "Circular motion calculator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add circular motion calculator to classical mechanics section

[2021-10-04 06:31] KarishmaVanwari opened #103 "FAQ's link on footer"
The FAQ's link on footer does not open the FAQ's modal on click. (as it does when FAQ's clicked on navbar)

[2021-10-04 06:32] KarishmaVanwari commented on #103
Hey @Amit366 I would like to work on this issue for Hacktoberfest 2021, if its okay with you?

[2021-10-04 06:33] Amit366 commented on #103
@KarishmaVanwari heyy this issue has already been addressed and it has been solved but hasn't been updated yet. So u can working on other calculator issues.

[2021-10-04 06:33] #103 closed

[2021-10-04 11:57] #90 closed

[2021-10-04 12:02] Amit366 opened #105 "Replace all the <a> tag with <link> tag"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Replace Replace all the <a> tag with <link> tag keeping the design of the buttons same.

[2021-10-04 15:20] Gourab-18 commented on #102
Hii @Amit366 I am ready to work upon this. Can I work on this?

[2021-10-04 15:41] Amit366 commented on #102
@Gourab-18 I guess u r working on input field issue??

[2021-10-05 03:56] #97 closed

[2021-10-05 04:09] Amit366 commented on #100
@Gourab-18 can u send the PR by today???

[2021-10-05 05:31] Gourab-18 commented on #100
@Amit366 I have been trying to fix the input field issue for a day but I am unable to fix it. However I found 2 solutions.
1. Keep both the input fields in the same row.
2. Use normal input attribute instead of bootstrap one and add custom styling from our side.

I guess the first option will be better and it does not even make the UI look bad. So shall I go for the first option and send the PR no

[2021-10-05 10:24] Maaz-Code opened #110 "Modifying Scroll to Top button"
**Is your feature request related to a problem? Please describe.**
It's not a problem, it's just I would like to improve the "scroll to top" button.  Currently, when someone clicks on it, the page reloads to the home page instead of sliding to the top. This action feels forceful rather than being convenient.

**Describe the solution you'd like**
My solution would be to work on its Javascript funct

[2021-10-05 10:25] Amit366 commented on #110
@Maaz-Code u can work on it

[2021-10-05 10:36] Amit366 opened #111 "Make quiz page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
See the quiz page is like the user on clicking the button will be redirected to a page where it will ask to start quiz with instructions.
Then on clicking on start quiz the question page will appear. On

[2021-10-05 10:37] Amit366 commented on #88
@OmGole rectify the problems mentionedbin discord and then send the PR again

[2021-10-05 11:27] Shoray2002 commented on #99
i will do this ,plz assign this me

[2021-10-05 11:30] Amit366 commented on #99
@Shoray2002 I will assign it to u. But resolve the conflict of ur PR

[2021-10-05 11:54] Shoray2002 commented on #99
thanks

[2021-10-05 12:30] Shoray2002 commented on #100
Can u assign this issue to me?

[2021-10-05 16:19] KarishmaVanwari commented on #105
Is this issue open? @Amit366

[2021-10-05 17:56] yash10019coder commented on #62
Hi I would like to work on this issue please assign it to me , we can add formulae for gravitation potential , gravitational potential energy , Effect of gravity on height and depth , gravitational field , and more others

[2021-10-06 00:22] rayanepimentel opened #135 "Verification in the form and return of "success" when submitting the form"
**Is your feature request related to a problem? Please describe.**
It's not a problem. And yes an improvement in the form

**Describe the solution you'd like**
Simple verification in the name and message field (more than one character) and in the email field.
The message "successfully sent", when submitting the form, could be a "toasts"

**Additional context**
This update could be for Hacktoberfes

[2021-10-06 02:35] Amit366 commented on #62
@yash10019coder go ahead.

[2021-10-06 03:58] Amit366 commented on #135
@rayanepimentel can u link it to gmail?? Like when someone sends some message then it should be received in form of email

[2021-10-07 04:30] Amit366 commented on #110
@Maaz-Code r u working on it??

[2021-10-07 04:41] Himanshu664 commented on #93
/assign

[2021-10-07 04:43] Amit366 commented on #93
@Himanshu664 r u a participant of hactoberfest??

[2021-10-07 05:58] Amit366 commented on #91
@souravseal99 make it just like kinematics calculator. Like the dropdown

[2021-10-08 05:47] souravseal99 commented on #91
for diff types of waves ( like sin, cos ) there would be an option in the dropdown, right?

[2021-10-08 06:01] souravseal99 commented on #91
and for oscillation, there could be two diff systems, like pendulum or spring-mass.

[2021-10-08 07:47] souravseal99 commented on #91
Ok, Clear.. 👍

[2021-10-08 11:34] #92 closed

[2021-10-08 20:06] akashsahu006 opened #147 "Atomic Physics Section"
**Is your feature request related to a problem? Please describe.**
The atomic physics section page could be created with few formulas so that others can start adding more to it.

**Describe the solution you'd like**
A page of atomic physics should be created just like the classical mechanics one. And some calculators can be added, so other people can start contributing to it.

[2021-10-08 20:07] akashsahu006 commented on #147
Can you assign this to me?

[2021-10-09 01:52] Amit366 commented on #147
@akashsahu006 which calculators will u add??

[2021-10-09 06:12] akashsahu006 commented on #147
I can add the calculators for Bohr's radius of the orbit,  velocity of the electron, frequency of the electron, another calculator for calculating potential, kinetic and total energy. And one for frequency of emitted radiation.

[2021-10-09 06:35] Amit366 commented on #147
Ok go ahead. @akashsahu006

[2021-10-09 06:36] Amit366 commented on #135
@rayanepimentel r u working??

[2021-10-12 03:35] #111 closed

[2021-10-14 13:38] Amit366 commented on #99
Ok

[2021-10-14 13:40] Amit366 commented on #147
@aakankshabhende by when can u send the PR??

[2021-10-14 13:41] Amit366 opened #152 "Rotational dynamics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add calculator of rotational dynamics.

[2021-10-14 13:44] Shoray2002 commented on #99
Will be done, don't worry

[2021-10-14 13:49] Amit366 opened #153 "Reset Button"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
1) Change the calculate and reset buttons(on calculator page) to smaller size so that both buttons can be side by side.
2) calculator are zoomed out to be responsive which is not good, fix that
3) In mo

[2021-10-14 13:55] Amit366 opened #154 "Electrostatics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add calculator for electrostatic(electric field and electric potential) in current electricity topic.

[2021-10-15 04:00] imakish commented on #153
I would like to work on this issue.

[2021-10-15 04:59] aditya-rastogi23 commented on #153
I'd like to work on this, can you assign me to this?

[2021-10-16 09:20] #88 closed

[2021-10-17 03:39] #99 closed

[2021-10-17 19:06] Shoray2002 commented on #102
@Amit366 pr done

[2021-10-18 06:49] aditya-rastogi23 commented on #153
I'll have a look and check, I think I should be able to do it

[2021-10-18 18:17] #102 closed

[2021-10-19 06:08] souravseal99 commented on #154
can I work on this ?

[2021-10-19 09:04] #91 closed

[2021-10-20 18:15] shivaprasadyanala opened #160 "force calculation unable to take accleration."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-10-20 18:15] shivaprasadyanala commented on #160
/assign

[2021-10-20 18:29] rayanepimentel commented on #135
@Amit366 Hi, sorry for the delay.
I will start now.

[2021-10-20 18:56] #160 closed, assigned to nobody

[2021-10-21 11:31] Amit366 commented on #147
@akashsahu006 r u still working on this issue??

[2021-10-21 17:29] shivaprasadyanala commented on #154
Yes

On Thu, 21 Oct 2021, 22:37 Amit Kumar Mishra, ***@***.***>
wrote:

[2021-10-21 17:34] souravseal99 commented on #154
Please check the PR regarding the thermodynamics issue, and let me know why it's still open ! @Amit366 ?

[2021-10-21 17:35] Amit366 commented on #154
@souravseal99 where is the PR??

[2021-10-21 17:38] Amit366 commented on #98
@souravseal99 first of all it was crashing the website so had to revert it and secondly u need to add calculator for carnot engine, efficiency ,work done and so on.

[2021-10-21 17:46] souravseal99 commented on #98
Yes, initially it was.. but then I made a second PR which resolved all the merge conflicts..

And to your second doubt, you can check in the issue, it's not anywhere mentioned that It's related to the implementation of Karno's Engine, efficiency and all.

[2021-10-21 17:49] souravseal99 commented on #98
It would be great, if you could be a little bit more specific about the issues from next time...

[2021-10-21 17:49] Amit366 commented on #98
@souravseal99 the second PR too had the KTG calculator missing that's why it was reverted and the same I commented in the PR and also on discord.

And the second one is carnot engine and efficiency all this come under thermodynamics topic and it is understood by the meaning of thermodynamics calculator

[2021-10-30 06:59] Padmanabh82 opened #164 "new "wekipedia links""
Hi folks,
I have a idea for `Physics calculator`. the idea is, in description of concept i can add [wikipedia](https://www.wikipedia.org/) links. Please assign this issue to me

[2021-10-30 07:05] Amit366 commented on #164
@Padmanabh82 like u wanna add the wikipedia links for each calculator?? And what is react type checking?

[2021-10-30 08:11] Padmanabh82 commented on #164
@Amit366 sir i want to mean [react prop types](https://reactjs.org/docs/typechecking-with-proptypes.html) and project is big i thing i cannot do it but i have done wikipedia links

[2021-10-30 08:13] Padmanabh82 commented on #164
ya in physics calculator. i will make a pr now see in it

[2021-11-01 04:18] #164 closed

[2021-11-02 05:38] #152 closed

[2021-11-02 05:42] Amit366 opened #168 "E=mc^2 calculator"
**Describe the bug**
Add this calculator to relativity section

[2021-11-02 05:44] Amit366 opened #169 "Add first and second law of thermodynamic calculator"
**Is your feature request related to a problem? Please describe.**
Add first and second law of thermodynamic calculator

**Describe the solution you'd like**
Add the calculators to the thermodynamic section where the prototype is already prepared.

[2021-11-02 05:48] Amit366 opened #170 "Add entropy calculator"
**Is your feature request related to a problem? Please describe.**
Add entropy calculator

**Describe the solution you'd like**
Add the entropy calculator to the thermodynamic section.

[2021-11-02 05:50] Amit366 opened #171 "Add efficiency calculator"
**Is your feature request related to a problem? Please describe.**
Add efficiency calculator of carnot and heat engine

**Describe the solution you'd like**
Add the efficiency calculator (as a single calculator using dropdown) to the thermodynamic section.

[2021-11-02 06:54] Amit366 opened #172 "Current electricity"
**Describe the bug**
Add current electricity calculator in electromagnetism section

[2021-11-02 07:04] Amit366 opened #173 "Fluid Mechanics calculator"
**Describe the bug**
Bernoulli's equation calculator shows error when pressure option is chosen. And also the reset button doesn't work for Bernoulli's equation, Poiseuille's law and Continuity equation.
And also add proper process to the calculators.

[2021-11-18 16:27] #171 closed

[2021-11-18 16:27] #170 closed

[2021-11-18 16:27] #169 closed

[2021-11-18 16:27] #153 closed

[2021-11-26 18:35] kushagra487 commented on #62
Hi, I would like to work on this issue. Could you assign it to me?

[2021-11-26 19:12] kushagra487 commented on #62
Hi, I would like to work on this issue. Could you assign it to me?

[2021-11-27 06:47] Amit366 commented on #62
@kushagra487 r u a participant of WOC?

[2021-11-27 11:02] kushagra487 commented on #62
@Amit366 I am planning to be a participant of WOC but currently I'm not a participant of WOC.

[2021-11-27 11:04] Amit366 commented on #62
@kushagra487 if u r not a participant then u can contribute but if u want to take part then u need to fill the google form in the WOC website and send the proposal

[2021-11-27 11:05] Amit366 commented on #62
@kushagra487 now if u want to contribute then u can go ahead but it will not be counted for WOC

[2021-11-27 11:09] kushagra487 commented on #62
For WOC on one of the proposal format there was mentioned that it will give you a upper hand if you are already contributing in a particular project. So, I thought of contributing first on that basis.

[2021-11-27 11:12] Amit366 commented on #62
@kushagra487 Yeah that's true and this is the way but I want to make it clear that ur WOC contributions will count after the coding period starts. For now I can contribute for selection. Coz in one of the open source event a participant argued that he has contributed but not counted as he had contributed before the coding period.

[2021-11-27 11:13] Amit366 commented on #62
For now if u wanna take this issue then u need to add gravitational field, potential

[2021-11-27 11:15] kushagra487 commented on #62
Ok, I'll add them assign it to me

[2021-11-27 11:16] Amit366 commented on #62
Cool👍

[2021-12-05 16:17] #62 closed

[2021-12-17 17:11] MrSingh2000 commented on #135
Can you please update on the current status for that issue, especially about the integration of email verification.

[2021-12-17 17:48] Amit366 commented on #135
@MrSingh2000 basically when user clicks on send in the contact form then it should be received in the form of mail

[2022-01-08 13:27] #135 closed

[2022-01-08 13:28] #147 closed

[2022-01-08 13:28] #154 closed

[2022-01-08 13:28] #168 closed

[2022-01-08 13:28] #172 closed

[2022-01-08 13:28] #173 closed

[2022-01-17 18:16] ShivamAgarwal-code opened #327 "There is a problem in sign up and login code as after registering it take into login page but on login it's showing invalid login credentials. I think there is some problem in your backend code. I can try to solve it."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-17 18:18] ShivamAgarwal-code commented on #327
Can I take up the issue?

[2022-01-18 03:56] Amit366 commented on #327
@ShivamAgarwal-code thanks for raising this issue. But mostly it works fine. I didn't find such error. Have u tried with the deployed site?

[2022-01-18 05:40] ShivamAgarwal-code commented on #327
@Amit366 yes I have tried with deployed site.
![WhatsApp Image 2022-01-18 at 11 06 57 AM](https://user-images.githubusercontent.com/72163800/149877336-fe3abc4f-85f5-4092-89d2-a0545dc66dd9.jpeg)

![WhatsApp Image 2022-01-18 at 11 08 04 AM](https://user-images.githubusercontent.com/72163800/149877345-f731bfc9-4a14-42a2-8449-3200824ba954.jpeg)

[2022-01-18 06:16] Amit366 commented on #327
@ShivamAgarwal-code ok then u can work

[2022-01-22 08:20] souravseal99 opened #328 "Enhancement in the UI of the Signup and Login pages"
**Is your feature request related to a problem? Please describe.**
it's not related to any problem, it's simply an enhancement request.

**Describe the solution you'd like**
I have tried designing something new for the Sign-up and login pages.

# Before

### Signup page
![image](https://user-images.githubusercontent.com/69809086/150630552-15ff5d54-2241-48ef-9e0a-6bf52d8225a7.png)

### Login page
!

[2022-01-22 08:44] Amit366 commented on #328
@souravseal99 hello, nice to see u back. Can u send the pic of mobile view?

[2022-01-22 10:37] SayanDeveloper commented on #327
Yes I have also faced the same error issue.

[2022-01-22 10:38] SayanDeveloper commented on #328
But does this UI look better?

[2022-01-22 12:26] Amit366 commented on #327
@ShivamAgarwal-code are u working on it?

[2022-01-22 12:27] Amit366 commented on #328
Let's do one thing, let's ask it on LinkedIn 😁.

[2022-01-22 12:38] souravseal99 commented on #328
Hi @Amit366, Glad to know that...😃.

Sure...! I'll be making one for the mobile view.

[2022-01-22 12:44] souravseal99 commented on #328
😸 besides, If you guys have anything specific in mind, please feel free to reach out to me in the discord group.
@Amit366, @SayanDeveloper

[2022-01-22 16:57] ShivamAgarwal-code commented on #327
Yes

[2022-01-25 11:59] souravseal99 commented on #328
here are the designs for the mobile view @Amit366.

### Design 1
![Android Small - 2](https://user-images.githubusercontent.com/69809086/150970599-51edeb6e-fbd7-455f-a160-2b84b884a533.png)

### Design 2
![Android Small - 1](https://user-images.githubusercontent.com/69809086/150970632-8f109813-eeca-4ab2-ab0a-96cb957fba33.png)

### Design 3
![Android Small - 1](https://user-images.githubusercontent.

[2022-01-25 18:39] prakhar-161 commented on #328
Hey, can i work on this issue? Will try to improve the css of the borders and the text regions.

[2022-01-26 06:29] Amit366 commented on #328
@SayanDeveloper @souravseal99 let's see which UI is better.
https://www.linkedin.com/posts/amit-kumar-mishra-28122a193_uiux-activity-6891990128592609280-NDkY

[2022-01-26 13:23] souravseal99 commented on #328
something like this ?

![Android Small - 2](https://user-images.githubusercontent.com/69809086/151170536-aeb85058-c1d3-4c65-8a0a-af662c1cb566.png)

![Android Small - 1](https://user-images.githubusercontent.com/69809086/151170545-4ba4f1c9-f224-48b3-984d-cc602dfaa9b5.png)

[2022-01-26 14:17] Amit366 opened #329 "Change the font style of the formulas in the calculators"
Change the font style of the formulas in the calculators. Now it is cursive which is not properly understandable in mobile view. So change it to some font which is understandable and also different from the rest font.

[2022-01-26 14:19] Amit366 opened #330 "Change UI of math calculator"
**Is your feature request related to a problem? Please describe.**
Change UI of math calculator

**Describe the solution you'd like**
In math calculators the example is written under process section, but change UI such that the example is separated

[2022-01-26 14:22] Amit366 opened #331 "statistics formula table"
**Is your feature request related to a problem? Please describe.**
In statistics calculator the table must be designed similar to other calculators.

[2022-01-26 17:20] Geeky-Sam01 opened #332 "Button formatting and small bugs"
**Is your feature request related to a problem? Please describe.**

1) The buttons of the calculators need to be centered in mobile view
2) on clicking the logo, user must be redirected to home page
3) change the plus button of the physics, math and chemistry cards to "explore" with a symbol.

[2022-01-26 17:40] pranavsuriya-sr opened #333 "Side Navbar Required"
**Is your feature request related to a problem? Please describe.**
Adding a navigation bar in the right side would be good for easy navigation through the webpage. If in case when the webpage is developed and new content is being added, the length of the whole site increases and so scrolling throughout the page wouldn't be good.  So a side navbar is surely required.

[2022-01-27 21:51] ShaileshKumar007 commented on #332
Hii @Geeky-Sam01
Just want to say that instead of writing the whole issue in the title, you should write your issue inside the template that is being provided by maintainers so that it'll be easy for maintainers also to look at this issue.

[2022-01-28 05:21] Amit366 commented on #328
@souravseal99 u can send the PR.

[2022-01-28 05:46] varunwho commented on #330
@Amit366 can I try working on this?

[2022-01-28 05:47] varunwho commented on #329
@Amit366 Can I work on this?

[2022-01-29 13:11] Amit366 opened #335 "Resolve the error"
**Describe the bug**
On clicking the inspect of the website you see two errors, resolve that.

![Screenshot (28)](https://user-images.githubusercontent.com/60662775/151663921-ba268ca5-c0d1-48de-866b-4a196cda7468.png)

[2022-01-30 05:06] Amit366 opened #336 "numerical questions are not accessible"
**Describe the bug**
MCQ questions appear on clicking solve question but numerical questions don't appear.

[2022-01-30 08:51] SayanDeveloper commented on #336
I have created a PR about this. The issue is resolved.

[2022-01-30 10:03] #336 closed

[2022-01-30 14:56] kunalahuja06 opened #338 "FAQs should be at the center"
**Describe the bug**
Each of the FAQs is slightly at the top of the container.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'FunwithScience/funwithphysics/src/Components/FAQ/Faq.css'
2. Click on 'Faq.css'
3. Scroll down to '.faq-heading'
4. See error

**Expected behavior**
Each question should be center-aligned.

**Screenshots**
![2022-01-30_LI](https://user-images.githubusercontent

[2022-01-31 07:17] KushalGhosh9899 commented on #338
Hi @kunalahuja06, Is anyone is working on this issue?

[2022-01-31 07:19] kunalahuja06 commented on #338
Nope, ask any one of the contributors to assign this issue to you...

[2022-01-31 07:20] Amit366 opened #339 "Some pages appear from the middle"
**Describe the bug**
There are some pages which appear from the middle and not from the start. So fix the bug such that all the pages appear from the start.

[2022-01-31 07:24] KushalGhosh9899 commented on #338
@Amit366 Kindly allot this issue to me whenever it's possible.

[2022-01-31 07:35] Amit366 opened #340 "On signing up the user should be directed to login page"
**Describe the bug**
On signing up, an alert appears and on clicking 'ok' it should be redirected to login page.

[2022-01-31 07:38] Amit366 opened #341 "On login the user should be directed to home page."
**Describe the bug**
On login, an alert message appears and when the user clicks 'ok' he should be directed to home page

[2022-01-31 07:42] Amit366 opened #342 "Add image loading feature to the contact us image"
**Is your feature request related to a problem? Please describe.**
When the website is loading the contact us image doesn't appear instantly, on fully loading then it appears.

**Describe the solution you'd like**
Make it similar to the sign up and login page images.

[2022-01-31 08:03] Amit366 opened #343 "Make the quiz page in physics section responsive"
**Is your feature request related to a problem? Please describe.**
The quiz page in the physics section is not responsive.

[2022-01-31 08:05] Amit366 opened #344 "Add a timer to the quiz page"
**Is your feature request related to a problem? Please describe.**
Add a smaller timer at the top of the quiz page and also make it responsive

[2022-01-31 12:17] Amit366 commented on #327
@ShivamAgarwal-code can u send the PR by today?

[2022-01-31 13:01] souravseal99 commented on #328
@Amit366 what will be the design for the mobile view ?

[2022-01-31 14:17] sahilkr9 commented on #341
Can I claim this issue?

[2022-01-31 16:57] #338 closed

[2022-01-31 16:59] KushalGhosh9899 commented on #332
I want to work on this issue under JWOC @Amit366

[2022-01-31 17:39] ShivamAgarwal-code commented on #327
sorry but I will send soon, actually I will be working on it for diversion.

[2022-01-31 18:30] ShrutiKapure commented on #341
I want to work on this issue under **JWOC**.

[2022-01-31 18:40] KushalGhosh9899 commented on #332
I want to work on this issue under JWOC @Amit366

[2022-01-31 19:00] Kaggrov commented on #329
I want to work on this issue under JWOC

[2022-01-31 19:01] Kaggrov commented on #331
I want to work on this issue under JWOC

[2022-01-31 19:09] whiteHatpro commented on #329
I want to work on this issue under JWOC

[2022-01-31 20:11] raxvab commented on #341
I want to work on this issue under JWOC it's gonna be one of the first opportunities for me to start with open source can i get this issue assigned.

[2022-01-31 20:12] raxvab commented on #339
I want to work on this issue under JWOC it's gonna be one of the first opportunities for me to start with open source can i get this issue assigned.

[2022-01-31 20:12] raxvab commented on #331
I want to work on this issue under JWOC it's gonna be one of the first opportunities for me to start with open source can i get this issue assigned.

[2022-01-31 20:13] raxvab commented on #344
I want to work on this issue under JWOC it's gonna be one of the first opportunities for me to start with open source can i get this issue assigned.

[2022-02-01 00:06] VaishnaviNigam25 commented on #329
I want to work on this issue under JWOC @Amit366

[2022-02-01 02:56] souravseal99 commented on #328
Thanks @Amit366

[2022-02-01 03:29] manya0210 commented on #340
Hey!!! I want to work under JWOC.

[2022-02-01 03:29] Amit366 commented on #329
@varunwho are u interested in working?

[2022-02-01 03:29] Amit366 commented on #330
@varunwho r u interested in working?

[2022-02-01 03:30] Shruti025 commented on #344
hey, I would love to work on this issue under JWOC

[2022-02-01 03:30] Amit366 commented on #331
@Kaggrov r u interested in working?

[2022-02-01 03:30] Amit366 commented on #339
@raxvab go ahead

[2022-02-01 03:31] Shruti025 commented on #343
Can I work on this issue under JWOC?

[2022-02-01 03:31] Amit366 commented on #340
@manya0210 u can work

[2022-02-01 03:32] Amit366 commented on #341
@sahilkr9 r u interested?

[2022-02-01 03:32] Amit366 commented on #343
@Shruti025 go ahead

[2022-02-01 03:52] varunwho commented on #330
Yess

[2022-02-01 03:53] sahilkr9 commented on #341
I have already been assigned another issue. Please assign this one to another mentee. Thank you for the opportunity.

[2022-02-01 03:54] varunwho commented on #329
Yess

[2022-02-01 03:57] Amit366 commented on #341
@ShrutiKapure r u interested?

[2022-02-01 04:50] Kaggrov commented on #331
Yes sir

[2022-02-01 05:12] Sanket1308 commented on #333
I want to work on this issue under JWOC

[2022-02-01 06:54] Amit366 commented on #332
@Geeky-Sam01 r u working?

[2022-02-01 06:56] Amit366 commented on #333
I don't think this feature is required for time being. We could add it in future if needed.

[2022-02-01 06:56] #333 closed

[2022-02-01 06:58] Amit366 opened #345 "Add questions page in math section"
**Is your feature request related to a problem? Please describe.**
Add questions page in math section

**Describe the solution you'd like**
Make the question page similar to the physics question page.

[2022-02-01 07:01] Amit366 opened #346 "Add complex number calculator"
**Is your feature request related to a problem? Please describe.**
Add complex number calculator

**Describe the solution you'd like**
Add complex number calculator in algebra section and also add formula table as done in geometry calculators

[2022-02-01 07:10] Amit366 opened #347 "The icons in the contact us page appear only on refreshing the page"
**Describe the bug**
The icons in the contact us page appear only on refreshing the page and also make the image center aligned and also it is not responsive at around 900 width.

[2022-02-01 07:28] SabariGanesh-K commented on #335
Assign this issue, will try it out👍👏

[2022-02-01 08:32] SabariGanesh-K commented on #347
I found out where is it going wrong. Assign it to me will fix it👍

[2022-02-01 11:18] Kaggrov commented on #345
I would like to work on this issue under JWOC

[2022-02-01 12:06] Priiyaa commented on #332
Hi ! If this issue is not assigned to anyone yet then I would love to work on it!

[2022-02-01 13:05] KushalGhosh9899 commented on #346
In this we just have to implement calculations which will be done on backend and the respective result will be displayed on the result box because front end is already there? We just have to add backend calculations right @Amit366 ?
If this is the case then please assigned this to me.

[2022-02-01 13:14] KushalGhosh9899 commented on #346
Do we have to implement these following subtopic under complex number calculator :-

Please let me know @Amit366

[2022-02-01 13:25] Geeky-Sam01 commented on #332
Yes

[2022-02-01 13:26] Geeky-Sam01 commented on #332
Creating a new Issue then.

[2022-02-01 13:27] Amit366 commented on #332
@Geeky-Sam01 u need to submit it by tomorrow. As for medium issue, only 2 days u will get.

[2022-02-01 13:31] Amit366 commented on #332
No need work on this

[2022-02-01 13:45] KushalGhosh9899 commented on #346
I want to work on this issue under JWOC

[2022-02-01 14:10] Geeky-Sam01 commented on #332
Sorry, cannot do it. Please assign it to someone else.

[2022-02-01 14:19] Amit366 commented on #332
@KushalGhosh9899 are u interested in this issue?

[2022-02-01 15:37] raxvab commented on #339
what's the deadline ?

[2022-02-01 15:44] Amit366 commented on #339
@raxvab tomorrow

[2022-02-01 18:11] Arun5023 commented on #341
I want to work on this issue under JWOC

[2022-02-01 18:20] tanya-gupta25 commented on #341
I want to work on this issue under JWOC.

[2022-02-01 19:46] whiteHatpro commented on #328
i want to work in this issue under JWOC

[2022-02-02 05:16] ATUL6026 commented on #340
I want to work on this issue under JWOC.

[2022-02-02 05:34] #331 closed

[2022-02-02 11:45] #329 closed

[2022-02-02 12:07] #347 closed

[2022-02-02 15:18] SabariGanesh-K commented on #342
@Amit366 Its already there right ?!

[2022-02-02 15:25] Amit366 commented on #342
@SabariGanesh-K it's there for login and sign up but not for contact us

[2022-02-02 15:42] SabariGanesh-K commented on #335
Assign it to me . I have guessed some probable reasons why its crashing . Will analyse and will fix it

[2022-02-02 16:21] Amit366 commented on #340
@tanya-gupta25 r u not interested in this issue?

[2022-02-02 16:59] tanya-gupta25 commented on #340
Actually I am new to React so I am unable to do it , u can assign it to someone else . Thankyou.

[2022-02-03 04:17] Amit366 commented on #330
@varunwho u need to send the PR today

[2022-02-03 05:50] #339 closed

[2022-02-03 07:23] Amit366 opened #357 "Calculator for quadratic equation"
**Is your feature request related to a problem? Please describe.**
Calculator for quadratic equation

**Describe the solution you'd like**
Add the quadratic equation to algebra section

[2022-02-03 07:23] Amit366 commented on #345
@Kaggrov what's the update?

[2022-02-03 09:03] Kaggrov commented on #345
Yeah I have done a part of problem and working on another part.

[2022-02-03 10:12] varunwho commented on #330
I'm actually stuck up with some urgent work so I'm unassigning myself. Sorry!
And thanks for the chance!

[2022-02-03 10:56] SabariGanesh-K commented on #335
Basically this issue is due to issue from server side and not client side.
Actually in the server of adsense , CORS needs a header (Access control allow origin) to allow
this website and also localhost.
![image](https://user-images.githubusercontent.com/64348740/152326921-b11b8ec5-7f5a-4c14-a1a1-5780bfe84d20.png)

Visit this link to know about it:-
But the above process cannot be done by us as onl

[2022-02-03 11:00] Amit366 commented on #335
ok no problem. Thanks for pointing out a solution atleast. @SabariGanesh-K

[2022-02-03 11:00] #335 closed

[2022-02-03 11:04] Amit366 opened #358 "Fix the navbar and scrolling"
**Describe the bug**
fix the navbar at the top

While scrolling the navbar must be fixed at the top and also there is bug in home page that is when the plus sign on  cards are hovered then within some seconds the page is automatically scrolled to top.

[2022-02-03 11:05] Amit366 commented on #332
@Priiyaa r u interested in working?

[2022-02-03 11:25] Amit91848 commented on #358
Can i work on this?

[2022-02-03 13:02] Tess-Vanta commented on #357
I would like to take up this issue under JWOC

[2022-02-03 13:57] Amit366 commented on #345
@Kaggrov see u need to just copy the same format as Physics ,nothing new things to be added.

[2022-02-03 14:30] #343 closed

[2022-02-03 16:23] KushalGhosh9899 commented on #332
Yes Please assign this to me, I want to work on this issue under JWOC @Amit366

[2022-02-03 16:32] Amit366 commented on #332
@KushalGhosh9899 send ur previous issue by tomorrow

[2022-02-03 17:46] amanbedi1 commented on #341
can you assign this issue to me

[2022-02-03 18:21] 03amir commented on #330
I want to work on this issue under JWOC

[2022-02-04 06:44] #345 closed

[2022-02-04 07:41] dhruvtongia commented on #340
I want to work on this issue under JWOC.

[2022-02-04 07:53] #342 closed

[2022-02-04 07:59] Amit91848 commented on #358
I fixed the navbar at the top. I tried hovering the plus buttons but for me it wasn't scrolling to the top. I looked at the code and it looks fine to me. If you could tell exactly how it is happening then I will look into it. Should I create a PR for navbar only?

[2022-02-04 08:44] ShivamAgarwal-code commented on #327
@Amit366 is theren't any php code for login page?

[2022-02-04 08:47] Amit366 commented on #358
Don't send the PR for navbar only @Amit91848

[2022-02-04 08:49] Amit366 commented on #327
@ShivamAgarwal-code the backend link is in the folder funwithscience-backend

[2022-02-04 08:49] ShivamAgarwal-code commented on #327
otherwise i have seen the js code it's absolutely fine but one problem is there after registering it's not directing to login page

[2022-02-04 08:51] Amit366 commented on #327
@ShivamAgarwal-code yes for that there is another issue opened

[2022-02-04 08:51] Amit91848 commented on #358
I couldn't find any bug for the scrolling problem

[2022-02-04 08:51] ShivamAgarwal-code commented on #327
I couldn't find that folder is it in github?
![image](https://user-images.githubusercontent.com/72163800/152499661-4f842f9b-b436-4bcd-bbbf-b71b37f4319c.png)

[2022-02-04 08:52] Amit366 commented on #327
Inside components folder @ShivamAgarwal-code

[2022-02-04 14:00] Tess-Vanta commented on #357
hey sorry, i wouldnt we able to finish. Could you unassign me?

[2022-02-04 16:10] Amit366 commented on #357
@SaarthakMaini u understood it correctly. And also u need to add it in algebra folder

[2022-02-04 16:11] SaarthakMaini commented on #357
Thank you very much!!

[2022-02-04 17:19] 03amir commented on #344
I want to work on this issue under JWOC.

[2022-02-04 18:01] ShivamAgarwal-code commented on #327
Can you send the folder here..

[2022-02-05 05:13] #328 closed

[2022-02-05 05:17] Amit366 commented on #344
@03amir u can work on this issue, but make the timer to the left corner and also don't display the timer at the score page.

[2022-02-05 07:10] raxvab commented on #344
Hello @Amit366 can can I add my name to the contributor list ?

[2022-02-05 07:12] Amit366 commented on #344
@raxvab already added

[2022-02-05 07:50] raxvab commented on #344
Thanks @Amit366

[2022-02-05 13:27] #340 closed

[2022-02-05 13:35] dhruvtongia commented on #341
I want to work on this issue under JWOC.

[2022-02-05 13:35] Amit366 commented on #341
@amanbedi1 since u haven't finished it yet so I am unassigning u.

[2022-02-05 13:36] Amit366 commented on #341
@dhruvtongia it would be nice if u could star the repo

[2022-02-05 15:06] #341 closed

[2022-02-05 15:53] Amit366 opened #369 "Add cookies in php"
**Is your feature request related to a problem? Please describe.**
Add cookies, so that a user who logs in should be automatically logged out within 24 hours

[2022-02-06 06:55] Amit366 opened #371 "Make a separate CSS file"
**Is your feature request related to a problem? Please describe.**

For all the physics calculators there is a separate CSS file but there are many cross links due to same class names and so make a single CSS file and link it to all the js files of the calculators.

[2022-02-06 09:35] Shresa commented on #371
I want to work on this issue under JWOC

[2022-02-07 04:12] Amit366 commented on #357
@SaarthakMaini u need to send the PR today

[2022-02-07 04:13] Amit366 commented on #344
@03amir this issue also u haven't sent any PR

[2022-02-07 05:18] SaarthakMaini commented on #357
Yes, working on it! Thank you for your patience!

[2022-02-07 06:42] Amit366 commented on #371
@Shresa u need to send the PR by tomorrow

[2022-02-07 06:59] Amit91848 commented on #358
I have some other work won't be able to do it. Can you please un-assign me. Thanks

[2022-02-07 07:48] 03amir commented on #344
I will.

[2022-02-07 10:51] #346 closed

[2022-02-07 11:09] Amit366 opened #377 "Add relative path of calculators"
**Describe the bug**
There are some calculators that show relative path warnings. So fix that.

[2022-02-07 11:11] KushalGhosh9899 commented on #377
I want to work on this issue under JWOC

[2022-02-07 14:14] SabariGanesh-K opened #378 "Adding standard deviation and Variance"
**Is your feature request related to a problem? Please describe.**
A lot of useful stats are present under this category. But I would add two of the most important stat , standard deviation and variance.

**Describe the solution you'd like**
I would add a corner under results which would show standard deviation and variance

[2022-02-07 14:23] Amit366 commented on #378
@SabariGanesh-K u will add it in statistics calculators itself right?

[2022-02-07 14:29] Amit366 commented on #378
Ok

[2022-02-07 17:19] tanya-gupta25 commented on #369
I would like to work on this issue under JWOC

[2022-02-08 05:38] #332 closed

[2022-02-08 06:40] Amit366 commented on #357
@SaarthakMaini today if anyone comments on this issue then I will be assigning them.

[2022-02-08 06:45] SaarthakMaini commented on #357
@Amit366 Yes, I understand. Thank you for your time!!

[2022-02-09 05:16] #344 closed

[2022-02-09 05:24] #330 closed

[2022-02-09 09:52] #378 closed

[2022-02-09 09:53] Amit366 opened #385 "Add limits calculator"
**Is your feature request related to a problem? Please describe.**
Add the limits calculator to calculus section.

[2022-02-09 09:57] tanya-gupta25 commented on #371
I want to work on this issue under JWOC

[2022-02-09 10:03] Amit366 commented on #371
@tanya-gupta25 first send the PR of the issue u r working on and then I will assign it to u.

[2022-02-11 06:19] SabariGanesh-K commented on #385
Assign this to me ! Will do that

[2022-02-11 06:24] Amit366 commented on #357
@SaarthakMaini since I received no PR so I am unassigning u.

[2022-02-11 07:18] dhruvtongia commented on #357
I want to work on this issue under JWOC

[2022-02-11 07:21] Amit366 commented on #357
@dhruvtongia u need to send the Pull request within 3 days.

[2022-02-11 07:29] VATSAL-IIT opened #387 "Correct Readme file"
In line number 145 of the readme file the directory funwithphysics is wrongly written and might give error upon running.

[2022-02-11 07:30] VATSAL-IIT commented on #387
I want to correct this.

[2022-02-11 07:32] Amit366 commented on #387
@VATSAL-IIT its already corrected by someone.

[2022-02-11 07:32] Amit366 commented on #387
u can work on something else

[2022-02-11 07:42] VATSAL-IIT commented on #387
okay

[2022-02-11 07:44] #387 closed, assigned to nobody

[2022-02-11 07:46] VATSAL-IIT opened #388 "Power function in Algebra Section"
A feature for finding x to the power y in the algebra section

[2022-02-11 07:47] VATSAL-IIT commented on #388
I want to work on this under JWOC

[2022-02-11 07:52] Amit366 commented on #388
@VATSAL-IIT This is too small calculator. If u want u can combine it with square root and cube root in the form of drop down menu. For drop down u can refer to circular motion calculator. And one more thing if u want to work then the definition for each should not be copied from other website, instead add somesome of ur own words.

[2022-02-11 07:59] VATSAL-IIT commented on #388
I have seen the refernce and would add dropdown for square-root calculation and cube-root as well .

[2022-02-11 14:12] ronitblenz opened #389 "Create an About page"
I saw that the live deployment has the home page and the about page to be the same
Can you assign me so that I can create an about page for this project?

[2022-02-11 14:22] Amit366 commented on #389
@ronitblenz can U write the content of about us page?

[2022-02-11 14:24] ronitblenz commented on #389
Yeah sure
It will take 2-3 days time, as a medium issue

[2022-02-11 14:25] Amit366 commented on #389
@ronitblenz see don't create a new page but add it above the learn heading and write some good content which is not copied.

[2022-02-11 14:26] ronitblenz commented on #389
Sure

[2022-02-11 19:55] whiteHatpro opened #392 "Improve Footer"
The footer seems to be a bit up and not the text alignment seems to be improper
allover i want to give footer a good and responsive look.

[2022-02-11 19:55] whiteHatpro commented on #392
I want to work on this issue under JWoC

[2022-02-12 08:47] ronitblenz commented on #389
I am sorry, I thought it to be a HTML, CSS change
But I am not familiar with React
So, I couldnt contribute to the Project.

I deeply apologise for this
I am unassigning myself, Hope a better candidate approaches the issue
Thanks

[2022-02-12 09:10] VATSAL-IIT opened #393 "Bug: Permutaion and Combination components"
When the value of n is greater than r, the permutation and combination component should give an error. Also, can it be merged into a single section with a dropdown feature as is in the case of Circular Motion Calculator? That would be better according to me.

[2022-02-12 09:11] VATSAL-IIT commented on #393
i want to work on this issue under JWOC

[2022-02-12 15:36] #371 closed

[2022-02-12 15:39] Amit366 commented on #393
@VATSAL-IIT u need to add proper example for each of permutation and combination and also add the definition and process as it is.

[2022-02-12 16:51] VATSAL-IIT commented on #393
ya sure will do that

[2022-02-13 03:49] ItsRoy69 commented on #392
I want to work on this issue under JWoC

[2022-02-13 11:38] Aniket-508 commented on #389
@Amit366 I want to work on this issue under JWoC.

[2022-02-13 14:46] #377 closed

[2022-02-14 07:35] #357 closed

[2022-02-14 07:51] Amit366 commented on #389
@Aniket-508 yes u can.

[2022-02-14 07:52] Amit366 commented on #389
@Aniket-508

[2022-02-14 07:54] Amit366 commented on #392
@whiteHatpro footer is fine no need to do any changes but if u want u can add the footer to algebra topics page. If u want to work I will assign u

[2022-02-14 07:58] Amit366 opened #399 "Add Binomial theorem calculator"
**Is your feature request related to a problem? Please describe.**
Add the Binomial theorem calculator in the algebra section.
The definition should be unique means u can see the definition from other websites but do not copy it directly. And also add the formulas list at the end of the calculator.

The calculator must be binomial expansion

[2022-02-14 08:23] #388 closed

[2022-02-15 07:11] Amit366 commented on #369
@tanya-gupta25 update?

[2022-02-15 20:23] Trisha-tech commented on #399
Hi @Amit366, I want to work on this issue under JWoC.

[2022-02-15 21:59] KushalGhosh9899 opened #401 "Add Continuity Calculator"
**Describe the solution you'd like**
Add the Continuity Calculator in the Integration section of the Maths module.

[2022-02-16 03:44] Amit366 commented on #399
Ok

[2022-02-16 06:12] VATSAL-IIT opened #404 "Add Probablity Calculator"
A calculator for Probablity of various events.

[2022-02-16 06:13] VATSAL-IIT commented on #404
I want to work on this issue under JWOC.

[2022-02-16 06:20] Amit366 commented on #392
@ishitaac can u work on this?

[2022-02-16 06:20] Amit366 commented on #385
@SabariGanesh-K any update?

[2022-02-16 06:20] Amit366 commented on #389
@Aniket-508 any update?

[2022-02-16 07:00] r3yc0n1c commented on #389
I want to work on this issue under JWoC'22

[2022-02-16 07:06] KushalGhosh9899 opened #405 "Change Example Stylings for Calculators"
**Describe the solution you'd like**
Example styling will be changed to 2 columns in which half of the example will be shifted to the left and half will be shifted to the right so that UI looks nice and clean.

[2022-02-16 07:15] #401 closed

[2022-02-16 07:20] #393 closed

[2022-02-16 07:35] tanya-gupta25 commented on #369
I m unassigning myself from this issue! Thankyou :)

[2022-02-16 17:22] SabariGanesh-K commented on #358
Assign it to me :) @Amit366

[2022-02-16 17:24] SabariGanesh-K opened #408 "Derivative calculator in calculus section"
**Is your feature request related to a problem? Please describe.**
No. I want to add differentiation calculator in integration section.

**Describe the solution you'd like**
I would like to add derivative calculator in integration section

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-02-16 19:56] r3yc0n1c commented on #369
I would like to work on this issue under JWoC'22

[2022-02-17 03:58] SabariGanesh-K commented on #369
I would like to try on this under JWOC @Amit366

[2022-02-17 04:09] Amit366 commented on #369
@r3yc0n1c go ahead

[2022-02-17 06:35] Amit366 commented on #399
@Trisha-tech update?

[2022-02-17 06:52] #385 closed

[2022-02-17 07:06] #405 closed

[2022-02-17 11:55] VATSAL-IIT commented on #399
I want to work on this issue under JWOC.

[2022-02-17 13:42] VATSAL-IIT opened #410 "T-Ratio Calculator for Trigonemtry Section"
A Calculator for finding various T-ratios like sine,cosine etc when an angle is given as input.

[2022-02-17 13:43] VATSAL-IIT commented on #410
I want to work on this issue under JWOC.

[2022-02-17 15:41] KushalGhosh9899 commented on #410
Hey @VATSAL-IIT I have started working on this issue in the morning but forgot to create the issue.. is there any possibility that I can work on this issue? please let me know.. i have almost completed the issue

[2022-02-17 15:50] VATSAL-IIT opened #411 "Inverse Trignometry Calculator"
Calculator for finding Inverse T-Ratios of different angles.

[2022-02-17 15:51] VATSAL-IIT commented on #411
I want to work on this under JWOC.

[2022-02-18 06:55] #404 closed

[2022-02-19 07:31] VATSAL-IIT opened #419 "Sets and relations calculator In ALgebra section"
Add a Sets and Relations calculator in the Algebra section.

[2022-02-19 07:31] VATSAL-IIT commented on #419
I want to work on this issue under JWOC

[2022-02-19 09:50] #411 closed

[2022-02-20 08:58] KushalGhosh9899 opened #425 "fix: Warnings on VS Code/ Console"
While running the app by running the `npm start` command on the console then there is a number of warnings that are coming on the console.
These warnings will be resolved in this issue.

Snapshot of warning-
![image](https://user-images.githubusercontent.com/25982821/154835486-c2bec238-802d-48c1-a7e0-2c74c3da8d96.png)

[2022-02-20 11:59] VATSAL-IIT opened #428 "Refraction Calculator in Phtonics Section"
Add a Refraction Calculator in Photonics section.

[2022-02-20 12:00] VATSAL-IIT commented on #428
I want to work on this issue under JWOC

[2022-02-21 05:10] SabariGanesh-K opened #432 "Integration (area under) calculator to be added"
**Is your feature request related to a problem? Please describe.**
-

**Describe the solution you'd like**
Integration (area under function) to be added in integration/differentiation section

[2022-02-21 05:18] #399 closed

[2022-02-21 05:43] #419 closed

[2022-02-21 05:48] Amit366 commented on #369
@r3yc0n1c update?

[2022-02-21 05:54] #358 closed

[2022-02-21 07:53] Amit366 commented on #432
@SabariGanesh-K what happened ? Why did u close this?

[2022-02-21 07:54] SabariGanesh-K commented on #432
Already 2 was open.. Thats why @Amit366 . I will reopen it

[2022-02-21 12:17] VATSAL-IIT opened #434 "Acceleration due to gravity Calculator in the Gravitation section"
A calculator for finding acceleration due to gravity at different heights from the earth's surface.

[2022-02-21 12:17] VATSAL-IIT commented on #434
I want to work on this issue under JWOC

[2022-02-22 06:10] #425 closed

[2022-02-22 11:37] Aditya123987 commented on #369
I would like to work on this issue under GSSOC'22.

[2022-02-22 11:42] Amit366 commented on #369
@Aditya123987 u need to wait till 1st March. If this issue is still unsolved then u can work

[2022-02-22 11:44] #428 closed

[2022-02-22 11:52] Amit366 opened #436 "Add solution part to refractive index calculator"
**Is your feature request related to a problem? Please describe.**
Add the solution steps as done in other physics calculators.

[2022-02-22 12:48] Aditya123987 commented on #369
Ok sir ...

On Tue, 22 Feb 2022, 17:13 Amit Kumar Mishra, ***@***.***>
wrote:

[2022-02-22 15:08] KushalGhosh9899 commented on #436
I want to work on this issue under JWOC

[2022-02-22 16:45] YashAryanTheCoder commented on #434
<h3>I want to work on this issue under GSSOC</h3>

[2022-02-23 06:27] VATSAL-IIT opened #439 "Different Quiz for Maths section"
At present Maths section has same questions as physics,so different questions and routing for Maths quiz

[2022-02-23 06:27] VATSAL-IIT commented on #439
I want to work on this issue under JWOC

[2022-02-23 17:09] KushalGhosh9899 opened #441 "Add solution part to waves calculator"
**Describe the solution you'd like**
Will add the solution steps for Waves calculators such as
- Wave Length
- Frequency
- Wave velocity
- energy
- time period

[2022-02-25 06:03] sayan404 commented on #392
I want to work in this issue under JWOC. @Amit366

[2022-02-25 06:33] ishitaac commented on #392
yes i can

[2022-02-25 18:50] ishitaac commented on #392
Pls assign me @Amit366

[2022-02-26 04:31] Amit366 commented on #392
@ishitaac u can work

[2022-02-26 04:38] #434 closed

[2022-02-26 06:58] #436 closed

[2022-02-26 09:58] VATSAL-IIT opened #446 "Spherical surface Refraction calculator for Photonics section"
A calculator for dealing with reflection as well as refraction in between two general surfaces (not specifically lens or mirror) .This will be applicable to any 2 general spherical surfaces.

[2022-02-26 09:59] VATSAL-IIT commented on #446
I want to work on this issue under JWOC

[2022-02-26 10:30] #439 closed

[2022-02-27 06:41] Amit366 commented on #432
Any update? @SabariGanesh-K

[2022-02-27 11:01] KushalGhosh9899 opened #448 "Add solution part to different calculators in Oscillation section"
**Describe the solution you'd like**
Will add the solution steps for different calculators in  Oscillation such as -
- General Equation SHM
- Simple Pendulum
- Spring Mass System

[2022-02-27 12:33] yaman-694 opened #449 "**When click on trigonometry calculator redirect to the home page**"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-02-27 12:36] yaman-694 commented on #449
i can add trigonometry calculator assign this issue to me

[2022-02-27 13:30] yaman-694 opened #450 "**Make better looking Navbar** align items in navbar"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-27 13:32] yaman-694 commented on #450
I want to work on the front-end part of the website
I want to make navbar look more better assign me this issue please

[2022-02-28 07:52] riiyaaa commented on #450
I would like to work on it under JWOC

[2022-02-28 10:09] #441 closed

[2022-02-28 10:39] Priyanshu174 commented on #449
Do we have to add trigonometry calculator or it's already added but not going to that page after clicking? If latter one is the issue then I can work on this issue.

[2022-02-28 16:03] Smriti-y opened #452 "I will add the solutions step of calculators below-"

[2022-02-28 16:18] Smriti-y opened #453 "to create the steps solutions and calculator for the topics of Quantum mechanics(Atomic Physics) and Thermodynamics."
**add the step  solutions and calculator for the topic under Quantum Mechanics and Thermodynamics**
(a)The topics under Quantum mechanics  which I will add is as follows-
1)Heisenberg's Uncertainity Principle Calculator(+theory of the principle)
(b)Thermodynamics -
1)Newton's law of cooling Calculator and its theory (with step by step solutions)

[2022-02-28 16:30] #452 closed

[2022-02-28 17:11] Amit366 commented on #446
@VATSAL-IIT any update?

[2022-02-28 17:16] VATSAL-IIT commented on #446
ya its almost done , will make PR by tonight

[2022-03-01 04:56] Amit366 commented on #449
This issue is already resolved.

[2022-03-01 04:56] #449 closed

[2022-03-01 04:57] Amit366 commented on #450
@yaman-694 can u tell me or send any image of how u would like to make the navbar?

[2022-03-01 05:01] Amit366 commented on #453
@Smriti-y impulse is already present under collision, kinetic energy is present under work power energy.
If u want u can work on other two calculators.

[2022-03-01 05:24] #448 closed

[2022-03-01 05:25] KushalGhosh9899 opened #455 "Add solution part to different calculators in Oscillation section"
**Describe the solution you'd like**
Will add the solution steps for different calculators in Oscillation such as -

- General Equation SHM
- Simple Pendulum
- Spring Mass System

[2022-03-01 05:36] KushalGhosh9899 commented on #455
This Issue is under JWOC

[2022-03-01 05:39] #455 closed

[2022-03-01 06:02] KushalGhosh9899 opened #457 "Remove extra fields and resolve the values in Waves section"
**Describe the solution you'd like**
- Will remove the extra fields in the different calculators of Waves section such as
- - Wave Length
- - Frequency
- - Wave velocity
- - energy
- - time period
-  Some values are carried forward when switching into different calculators so that issue will be resolved

![image](https://user-images.githubusercontent.com/25982821/156113892-af9edb43-fce4-46e7-b3c1-

[2022-03-01 06:02] KushalGhosh9899 commented on #457
This issue is under JWOC

[2022-03-01 06:06] KushalGhosh9899 opened #458 "Remove extra fields and resolve the values in Oscillation section"
**Describe the solution you'd like**
Will remove the extra fields in the different calculators of the Oscillation section such as
- General Equation SHM
- Simple Pendulum
- Spring Mass System

Some values are carried forward when switching into different calculators so that issue will be resolved

Snapshot -
![image](https://user-images.githubusercontent.com/25982821/156114274-84d27242-9469-4e88-b

[2022-03-01 06:06] KushalGhosh9899 commented on #458
This issue will be under JWOC

[2022-03-01 07:44] anish2210 commented on #450
hello friends, I want to work on this issue can anyone please assign this work to me I am attaching one of my works with this comment, It is a registration/login page that is built on stackblitz.
MUST CHECK THE RESPONSIVENESS 😊
link - https://angular-ivy-iro2sa.stackblitz.io

[2022-03-01 08:20] yaman-694 commented on #450
This is your current navbar
![image](https://user-images.githubusercontent.com/72979343/156131253-ae50590f-afa8-4026-a0ba-77e0b580325b.png)

and i want align the list and change font style of tech n science
i tried this if you assign me i will on this more
![image](https://user-images.githubusercontent.com/72979343/156131494-16116b92-afc9-47bd-a235-8e7643f04907.png)

[2022-03-01 08:20] yaman-694 commented on #450
I have some idea with home page too

[2022-03-01 09:02] Amit366 commented on #450
Ok go ahead

[2022-03-01 09:07] VATSAL-IIT opened #459 "Bugs in physics Quiz"
In the physics quiz section,while giving the quiz, if a person checks an option more than once the score gets added more than once which shouldn't occur. Also if I click a wrong option  and then I immediately check the correct option the score gets incremented which is also a bug.

[2022-03-01 09:08] VATSAL-IIT commented on #459
I want to work on this issue under JWOC

[2022-03-01 12:01] LakshayN commented on #392
@Amit366 i can improve the footer, can you assign this to me ?

[2022-03-01 12:05] Amit366 commented on #392
@ishitaac update?

[2022-03-01 12:13] AnIkeT126 commented on #450
Can i contribute in it as a part of GSSoC'22?

[2022-03-01 12:14] AnIkeT126 commented on #408
Can I contribute on this issue as a part of GSSoC'22

[2022-03-01 12:17] Amit366 commented on #450
@AnIkeT126 it's already assigned

[2022-03-01 12:19] Amit366 commented on #459
@VATSAL-IIT go ahead

[2022-03-01 12:20] #446 closed

[2022-03-01 12:27] Amit366 commented on #369
@Aditya123987 do u want to work?

[2022-03-01 12:29] Amit366 opened #460 "Add steps for circular motion calculator"
**Is your feature request related to a problem? Please describe.**
Add steps for circular motion calculator in classical mechanics calculator, means on clicking calculator entire steps should appear. For reference u can check collision calculator.

[2022-03-01 12:36] Amit366 opened #461 "Add steps for statistics calculator"
**Is your feature request related to a problem? Please describe.**
Add steps for statistics calculator in algebra section, means on clicking calculator entire steps should appear. For reference u can refer the physics calculators

[2022-03-01 12:37] Amit366 opened #462 "Add steps for progression calculator"
**Is your feature request related to a problem? Please describe.**
Add steps for statistics calculator in algebra section, means on clicking calculator entire steps should appear. For reference refer physics calculator

[2022-03-01 13:08] LakshayN commented on #461
@Amit366 I can add steps for statistics calculator in algebra section. I want to work for this under GSSoC22

[2022-03-01 13:11] Amit366 commented on #461
@LakshayN ok

[2022-03-01 13:46] debjitpurohit commented on #460
assign me this task

[2022-03-01 14:04] Amit366 commented on #460
@debjitpurohit go ahead

[2022-03-01 14:09] AnuragParashar2000 opened #463 "Add Steps to Density Calculator in Fluid Mechanics."
Add steps for Fluid Mechanics calculator in Classical Mechanics section. For reference, u can refer to the physics calculators

[2022-03-01 14:09] debjitpurohit commented on #460
thank you sir

[2022-03-01 14:18] AnuragParashar2000 opened #464 "Add Steps to Simple Harmonic Motion Calculators"
Add steps for the Simple Harmonic Motion calculator in the Classical Mechanics section. For reference, u can refer to the physics calculators

[2022-03-01 14:22] #464 closed

[2022-03-01 14:22] Aditya3403 commented on #462
I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 14:24] Aditya3403 commented on #461
I would like to work on this issue . Kindly assign this issue to me.

[2022-03-01 14:36] Khushbu-kumari-87090 opened #465 "add to feature science formula"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-01 14:39] rohitalal opened #466 "Adding solutions of quiz and different difficulty level questions"
- After answering the questions of the quiz, solution should be given.

- 3 difficulty level of questions should be present - Easy, medium and hard.

- Each difficulty level should have different time limit.

[2022-03-01 14:40] Khushbu-kumari-87090 commented on #465
some formula is so much tough so    this feature  will provide  so easy for understanding purpose.

[2022-03-01 14:43] Amit366 commented on #466
@rohitalal see what exactly I was thinking is, after the quiz then the solution should be present. and as u said different questions will have different time.

[2022-03-01 14:45] Khushbu-kumari-87090 commented on #465
i mean  some project  will  describe you are going to incorrect way so please try again.

[2022-03-01 14:48] Amit366 commented on #465
For that already on clicking calculate we get that error message

[2022-03-01 14:53] Khushbu-kumari-87090 commented on #465
calculate so we get the error so that project will describe the digit number and some string character.

[2022-03-01 14:56] Khushbu-kumari-87090 commented on #465
and using some fonts

[2022-03-01 14:56] Khushbu-kumari-87090 commented on #465
so please assign me.

[2022-03-01 14:56] Amit366 commented on #465
@Khushbu-kumari-87090 ok try and also further discussion can be done over discord

[2022-03-01 15:04] ankita-das-26 opened #467 "Navbar"
Can I add a new navbar which would be responsive to the website

[2022-03-01 15:21] ridhig16 commented on #463
I am a GSSOC'22 participant and want to work on this issue. Pls assign this issue to me

[2022-03-01 15:23] itzwow opened #468 "Add questions to Math questions section"
**Describe the bug**
In the questions section of math the questions and answers are wrong

![issue1](https://user-images.githubusercontent.com/84179065/156196599-500da694-c240-4d20-b5df-2974d81d8a2a.JPG)

There is no correct option according to the question

Moreover the styling part can be done better

[2022-03-01 15:24] Amit366 commented on #463
@ridhig16 go ahead

[2022-03-01 15:25] Amit366 commented on #468
@itzwow the math question page is not completely prepared yet. That's just a demo question.

[2022-03-01 15:26] Amit366 commented on #468
U can check out physics question page for styling.

[2022-03-01 15:40] AnIkeT126 commented on #463
I am a GSSOC'22 participant and want to work on this issue under the same.

[2022-03-01 16:41] AnIkeT126 opened #470 "Problem with Limits Calculator"
I found that the limits calculator under Integration and Differentiation is not working properly, for example:
lim x=0 (sin/x) should result in 1, but it's stating invalid function.

And I would like  to work on this issue @Amit366  as a part of GSSoC'22

![image](https://user-images.githubusercontent.com/82095877/156210686-b70f9a41-a905-4f67-a5bb-9a2e1421a252.png)

@Amit366 can I take this one?

[2022-03-01 16:45] Amit366 commented on #470
@AnIkeT126 u can work

[2022-03-01 16:50] AnIkeT126 commented on #470
Thanks

[2022-03-01 18:26] VATSAL-IIT opened #473 "Bugs in Maths Quiz"
Maths quiz also has similar bugs as was earlier in Physics quiz.

[2022-03-01 18:27] VATSAL-IIT commented on #473
I want to work on this issue under JWOC

[2022-03-01 18:41] itzwow opened #474 "Issue in Contact Us form"
![email](https://user-images.githubusercontent.com/84179065/156228774-6b7c71cb-aeb1-4e29-8705-85dd3cf6bec8.JPG)

-> In the email section even if we don't enter proper email it's showing message sent successfully
-> the form section's UI can be improved ( like the fonts, small icons can be added)

I am interested in working in this issue as  a GSSoC'22 participant

[2022-03-02 02:09] shreyasharma0201 opened #477 "add editorial of physics problems."
**Adding solution of problems will add values to the project.**

*It may also be possible to display some beautiful messages.*

Looking for getting assigned and admins' point of view.

[2022-03-02 04:04] Amit366 commented on #474
@itzwow u can work

[2022-03-02 04:16] shreyasharma0201 commented on #477
@Amit366 yes all to questions under physics section.

[2022-03-02 04:36] Amit366 commented on #477
@shreyasharma0201 go ahead

[2022-03-02 04:37] Amit366 commented on #462
See on clicking the calculate button of calculator then it should show the steps or error message. Thats why ser the physics calculator collision

[2022-03-02 06:53] ankita-das-26 commented on #467
Okay sorry
Then can I add a FAQ column in this?

[2022-03-02 06:54] Aditya3403 commented on #462
Sir I have forked the repo in my local system but I am unable to find the file I have to work upon. Kindly guide me for the same.

[2022-03-02 06:55] AnIkeT126 opened #479 "Binomial Calculator"
For the expression of type (ax+by)^n, the current binomial calculator has no resource to calculate the value of the expression if x and y are given, so can I try and add that feature as well, so that if a user wants, they can get the utmost resolved result.

Can I work on this issue as a part of GSSoC'22 @Amit366 ??

[2022-03-02 07:06] bhumithakur commented on #450
If it's not done yet, can i contribute to it?

[2022-03-02 07:06] Pratiksha-Daphal commented on #474
Hey , @itzwow I want to work on this issue under GSSOC'22 . Can you please assign me this issue?

[2022-03-02 07:07] bhumithakur commented on #474
If it's not assign yo anyone , can i work on it? @itzwow

[2022-03-02 07:10] Amit366 commented on #467
@ankita-das-26 FAQ is already present. Hence I am closing this issue

[2022-03-02 07:10] #467 closed

[2022-03-02 07:48] Payalsahb20220 commented on #474
Hell @Amit366  ,can u please assign me this issue:). I want to work on this issue.

[2022-03-02 08:57] MnCSSJ4x commented on #466
can I work on this issue

[2022-03-02 09:03] #459 closed

[2022-03-02 09:14] Smriti-y commented on #453
Sir,can I edit my issue ??

On Tue, 1 Mar 2022, 10:31 am Amit Kumar Mishra, ***@***.***>
wrote:

[2022-03-02 09:25] Amit366 commented on #453
Yes

[2022-03-02 09:27] AnIkeT126 commented on #479
Hey, so you can create your own issue which is not this and you can start
working on it.
This issue has been assigned to me.

On Wed, Mar 2, 2022 at 2:16 PM Himanshu Singh Rajput <
***@***.***> wrote:

[2022-03-02 09:29] AnIkeT126 commented on #479
Hey, so you can create your own issue which is not this and you can start
working on it.
This issue has been assigned to me

[2022-03-02 09:58] #473 closed

[2022-03-02 12:45] aditiitomar commented on #389
Hey, @Amit366 I'm a GSSOC participant. Can I work on this?

[2022-03-02 12:46] Amit366 commented on #389
@aditiitomar you need to do this and also add the link of about us in navbar and footer

[2022-03-02 12:55] aditiitomar opened #482 "No scrolling down option in homepage"
**Describe the bug**
There is no scroll bar on the right side of the page.

**Expected behavior**
There must be a scrollbar to move vertically through the page.

**Screenshots**
![NoScrollBar](https://user-images.githubusercontent.com/80448500/156365486-3665eeb2-9422-4a2e-9f2e-d46fb10d8f0f.png)

[2022-03-02 12:55] aditiitomar commented on #482
Hey, @Amit366 Can I work on this issue?

[2022-03-02 13:01] Amit366 commented on #482
@aditiitomar there is no requirement of scrolling bar as of now. And also u can work on the issue assigned to u first.

[2022-03-02 13:01] #482 closed

[2022-03-02 13:42] AnuragParashar2000 opened #483 "Add Steps to Pressure Calculator in Fluid Mechanics inside Classical Mechanics."
Add steps for the Pressure calculator in the Fluid Mechanics section in the Classical Mechanics, means on clicking calculator entire steps should appear. For reference, u can refer to the physics calculators.

[2022-03-02 13:43] Manik-Aggarwal commented on #483
I want to work on this issue, please assign it to me

[2022-03-02 13:45] AnuragParashar2000 opened #484 "Add Steps to Volume flow rate Calculator in Fluid Mechanics inside Classical Mechanics."
Add steps for the Volume flow rate calculator in the Fluid Mechanics section in the Classical Mechanics, means on clicking calculator entire steps should appear. For reference, u can refer to the physics calculators.

[2022-03-02 13:46] sinha-toyeesh commented on #484
I would like to work on this issue please assign it to me.

[2022-03-02 13:53] AnuragParashar2000 opened #486 "Add Steps to Continuity equation Calculator in Fluid Mechanics inside Classical Mechanics."
Add steps for the Continuity equation calculator in the Fluid Mechanics section inside Classical Mechanics, means on clicking calculator entire steps should appear. For reference, u can refer to the physics calculators.

[2022-03-02 13:56] AnuragParashar2000 opened #487 "Add Steps to Viscosity Calculator in Fluid Mechanics inside Classical Mechanics."
Add steps for the Viscosity calculator in the Fluid Mechanics section inside Classical Mechanics, means on clicking calculator entire steps should appear. For reference, u can refer to the physics calculators.

[2022-03-02 14:00] Manik-Aggarwal commented on #486
Please assign it to me

[2022-03-02 14:06] Amit366 commented on #483
@AnuragParashar2000 please assign the issue to me under GSSOC

[2022-03-02 14:11] Amit366 opened #489 "Adding steps"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Please  assign it to me as a GSSOC parti

[2022-03-02 14:11] #489 closed

[2022-03-02 14:12] sinha-toyeesh commented on #487
I would like to work on this issue , please assign it to me , I am a GSSOC contributor.

[2022-03-02 18:45] yaman-694 commented on #450
i made pull request already

[2022-03-02 18:46] VATSAL-IIT opened #491 "Thermal Expansion calculator under thermodynamics"
calculator for thermal expansion

[2022-03-02 19:21] VATSAL-IIT commented on #491
I want to work on this issue under JWOC

[2022-03-02 19:43] bhuvan2002 commented on #486
Hello, Please assign it to me as I am  GSSOC contributor

[2022-03-03 03:28] shahishree03 commented on #486
How many members can assign in each issue

[2022-03-03 03:31] shahishree03 commented on #491
Can you assign me in this contributions  as GSSOC21

[2022-03-03 04:32] rohinish404 opened #492 "Extra line at the end under Faqs"
**Describe the bug**
An extra line at the end below How to contact us. Its destroying the symmetry.

**Expected behavior**
The extra line should be removed.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser: Chrome

**Additional context**
Add any other context about the problem here.
<img

[2022-03-03 04:44] Amit366 commented on #492
@rohinish404 go ahead

[2022-03-03 04:48] rohinish404 commented on #492
sure!!

[2022-03-03 04:57] rohinish404 commented on #492
where can i find the css part of the Faqs??

[2022-03-03 05:00] Amit366 commented on #492
U can find it inside, fun with physics folder, then components and then faq

[2022-03-03 05:11] #458 closed

[2022-03-03 05:18] Amit366 commented on #392
@LakshayN u can work

[2022-03-03 05:19] Amit366 commented on #392
@LakshayN but u need to do this

[2022-03-03 05:28] Amit366 opened #493 "Mathematical induction calculator"
**Is your feature request related to a problem? Please describe.**
Add mathematical induction calculator to the algebra section. The definition shouldn't be plagiarized.

[2022-03-03 05:52] rohinish404 commented on #492
I looked into the faq folder. But im currently a beginner in fronted. i thought this would be some css related issue. but in the faq section javascript and react is also used. so if you can refer me to some resources about how to remove that line , than i can work on it.

[2022-03-03 07:07] Amit366 commented on #492
@rohinish404 there is no resource particularly relating to this issue. U need to atleast have some knowledge in JavaScript then only it will ve easy for u to learn and work in react.

[2022-03-03 07:11] Ishhha commented on #392
I want to work on the issue. Please assign it to me.

[2022-03-03 07:13] Amit366 commented on #392
@Ishhha r u a part of any open source?

[2022-03-03 07:28] Ishhha commented on #392
I'm a contributor in GSSOC'22.

[2022-03-03 07:29] Amit366 commented on #392
@Ishhha go ahead

[2022-03-03 08:13] VIDHI-BAJAJ commented on #474
Hello @Amit366 can you please assign me the issue i Know how to solve it

[2022-03-03 08:35] ROUSHNI1 commented on #493
Hello, I am a GSSOC'22 participant and I have knowledge about mathematical induction and i would like to contribute in this issue, can you Please assign it to me.

[2022-03-03 09:29] Amit366 commented on #493
@ROUSHNI1 u can work

[2022-03-03 10:29] Amit366 commented on #474
@VIDHI-BAJAJ u can work

[2022-03-03 12:14] lakshrav opened #494 "Series and Parallel Calculator"
Feature: A series and parallel calculator under physics electromagnetism.
To find the equivalent resistance/capacitance value.

If this feature is okay, could you please assign me this task?
I am contributing under GSSoC 22 by the way.

[2022-03-03 12:18] Amit366 commented on #494
@lakshrav while  creating the calculator the definition should not be copied from any website and also u need to add the solution steps for the calculator as done in other physics calculators like force, collision

[2022-03-03 12:18] lakshrav commented on #494
Sure will keep these in mind.
Thanks!

[2022-03-03 12:27] VIDHI-BAJAJ commented on #474
@Amit366 Ya sure thankyou

[2022-03-03 13:33] VIDHI-BAJAJ commented on #474
@Amit366 The issue has complete one's you can check Pull Request

[2022-03-03 15:33] shivvamm opened #497 "Relativistic Mass section"
**Is your feature request related to a problem? Please describe.**
No it's not related to a problem .As in relativity we have relativistic velocity we also have relativistic mass

**Describe the solution you'd like**
To add a new section of RELATIVISTIC MASS  and use the formula m =m0 / under root of (1-v^2/c^2)

**Describe alternatives you've considered**
The value of m0 and v are given we alread

[2022-03-03 15:37] shivvamm commented on #497
I want to add this feature and and work on this

[2022-03-03 15:49] sebinfrancis7 opened #498 "The card overlaps with Navbar when hovered"
**Describe the bug**
The Explore cards under Learn section overlaps with the Navbar on hover.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to learn section
2. Hover on any of the three cards.
3. The cards overlap the Navbar
4. See error

**Expected behavior**
The Navbar should not be under the card at any time.

**Screenshots**
![image](https://user-images.githubusercontent.com/5926319

[2022-03-03 16:10] Amit366 commented on #497
@shivvamm u can work but don't copy the definition from any website and also u need to add solution steps to the calculator as done in physics calculators.

[2022-03-03 17:33] aditiitomar commented on #389
Hey Amit,
I have few questions related to the issue.
1. How much time limit do I have to solve this issue?
2. I have written the content of About Page, just check if it is okay or
not.

Tech-N-Science was created to help users with calculations for different
science formula. There are many calculators present which helps user
calculate & shows result using formula. Apart from that, we also have a

[2022-03-03 17:47] Khaled-Damaj opened #499 "Add a button to plot a graph for the functions in the Geometric section"
I want to add a feature ,where the user can generate a graph of the equation that he/she chooses,bu clicking on the button named "Plot Graph" to plot the equation.

[2022-03-03 17:49] Khaled-Damaj commented on #499
I want to be assigned to this feature if it's possible.

[2022-03-03 19:35] sebinfrancis7 commented on #498
@Amit366 can you please assign this issue to me as part of GSSoC.

[2022-03-03 22:44] Amit366 commented on #389
@aditiitomar have u created a new page for about us?

[2022-03-03 22:45] Amit366 commented on #499
@Khaled-Damaj will u add the graph feature? Like on clicking the button the graph will be plotted?

[2022-03-04 05:32] Ashish4321-hub commented on #389
@Amit366 I'm gssoc contributor and I want to work on about page.Please assign me this issue.

[2022-03-04 05:33] aditiitomar commented on #389
@Amit366 I'm working on it.

[2022-03-04 07:39] aku1310 opened #502 "Matrices and Determinant Calculator"
### Matrices
Add information and create  matrix multiplication, inverse matrix, transpose of a matrix calculator.

### Determinants
Add information on determinants and create determinant calculator.

[2022-03-04 07:39] aku1310 commented on #502
Hello, I am a GSSOC'22 participant and I have knowledge about matrices and determinants and would like to contribute in this issue.

[2022-03-04 08:32] Amit366 commented on #502
@aku1310 the definition should be copied from other sites and also add the solution steps for the calculator as done in physics calculators like force.

[2022-03-04 10:01] ronitrangwani commented on #492
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 13:24] KushalGhosh9899 opened #504 "Add solution part to different calculators in Permutation and Combination section"
**Describe the solution you'd like**
Will add the solution steps for different calculators in  Permutation and Combination such as -

-  Permutation
- Combination

[2022-03-04 13:25] KushalGhosh9899 opened #505 "Add solution part to different calculators in Progression section"
**Describe the solution you'd like**
Will add the solution steps for different calculators in Progression such as -

- Arithmetic Progression
- Geometric Progression

[2022-03-04 13:25] KushalGhosh9899 commented on #505
This issue will be under JWOC

[2022-03-04 13:25] KushalGhosh9899 commented on #504
This issue will be under JWOC

[2022-03-04 14:18] shahishree03 commented on #494
Can you please assign me in this .I like to work

[2022-03-04 15:07] suman-shah commented on #502
Hello, I am a GSSOC'22 contributor i would like to contribute here please assign me this issue . I can add step by step procedure to solve matrix problem i.e. multiplication, inverse matrix, transpose addition  subtraction too

[2022-03-04 16:00] Amit366 commented on #492
@rohinish404 r u working?

[2022-03-04 16:01] Amit366 commented on #505
@KushalGhosh9899 this issue is already taken up by someone else

[2022-03-04 16:03] Amit366 commented on #389
@Ashish4321-hub u can work

[2022-03-04 16:14] Amit366 commented on #498
@sebinfrancis7 the card doesn't overlap

[2022-03-04 16:14] Amit366 commented on #498
@sebinfrancis7 u can work

[2022-03-04 16:26] #505 closed

[2022-03-04 16:33] #487 closed

[2022-03-04 16:38] KushalGhosh9899 opened #510 "Add solution part for Straight Line and Parabola calculators in Geometry section"
**Describe the solution you'd like**
Will add the solution steps in the geometry section such as -
- Straight line
- Parabola

[2022-03-04 16:39] KushalGhosh9899 opened #511 "Add solution part for Ellipse and circle in Geometry section"
**Describe the solution you'd like**
Will add the solution steps in the geometry section such as -
- Ellipse
- Circle

[2022-03-04 16:39] KushalGhosh9899 commented on #511
This issue will be under JWOC

[2022-03-04 16:39] KushalGhosh9899 commented on #510
This issue will be under JWOC

[2022-03-04 16:40] AnuragParashar2000 commented on #486
It is assigned to @Manik-Aggarwal , it cannot be assigned to two people.

[2022-03-04 16:47] Amit366 commented on #486
@Manik-Aggarwal r u working?

[2022-03-04 16:51] Manik-Aggarwal commented on #486
I am working

[2022-03-04 17:00] rohinish404 commented on #492
nope...u can unassign me.

[2022-03-04 17:07] lakshrav commented on #494
Hey, yes I'm working on it

[2022-03-04 17:28] TG922 opened #514 "Enhancement : Adding customized look to standard scroll bar"
### Description

- I want to add custom scroll bar for this website.
- This will Improve your website’s **User Interface(UI)**.
- Please assign me on this issue under GSSOC '22.

[2022-03-04 18:13] TG922 commented on #514
[ ] 👀 I have read the [**Contributing**] (https://github.com/Tech-N-Science/FunwithScience/blob/17d5fcebb3283fd42fe35f158d278dafd50bc575/CODE_OF_CONDUCT.md) document.
I would like to work on this issue, can you please assign me? I am a GSSOC'22 participant.
Kindly assign me this issue.

[2022-03-05 04:09] #504 closed

[2022-03-05 04:26] #498 closed

[2022-03-05 04:29] Amit366 commented on #514
@TG922 there is no need for the scroll bar for now

[2022-03-05 04:29] #514 closed

[2022-03-05 06:07] Priyanshi136 opened #518 "Bug in Connect with us section"
**Describe the bug**
In the footer section of the home page, the connect with us links are not working properly like, the linkedin, and instagram and other links also. They are not going to their respective profile pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page, footer section
2. Click on the icon of linkedin or instagram
3. See error

**Expected behavior**
After clic

[2022-03-05 06:37] shahishree03 commented on #497
Please I really eager to do contributions in this topic as GSSOC22

[2022-03-05 06:51] KushalGhosh9899 commented on #474
Is this bug fixed? If not then kindly assign it to me under JWOC

[2022-03-05 07:06] yaman-694 commented on #450
close this issue pull request merged

[2022-03-05 08:52] Ashish4321-hub commented on #389
@Amit366 i started work on it

[2022-03-05 09:04] Amit366 commented on #518
That's because we haven't added the facebook and instagram links

[2022-03-05 09:04] #518 closed

[2022-03-05 09:05] Amit366 commented on #497
@shivvamm r u working?

[2022-03-05 09:05] #450 closed

[2022-03-05 09:29] #510 closed

[2022-03-05 09:39] ronitrangwani commented on #492
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:54] shivvamm opened #523 "The buttons are not aligned in center"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-05 11:42] ishmeet07 commented on #474
Hey @itzwow is the issue resolved ,if not pls assign it to me !!

[2022-03-05 11:56] ankitadam commented on #461
@Amit366 I would like to work on this issue. Please assign it to me.

[2022-03-05 12:31] KushalGhosh9899 opened #524 "Add solution part for Hyperbola in Geometry section"
**Describe the solution you'd like**
Will add the solution steps for the Hyperbola calculator in the geometry section

[2022-03-05 12:31] KushalGhosh9899 commented on #524
This issue will be under JWOC

[2022-03-05 13:51] #491 closed

[2022-03-05 15:16] ananya2001roy commented on #492
i want to work on this issue

[2022-03-05 15:36] shahishree03 opened #527 "Calculate Capicitance and Resistance"
It's often complex 🤔 and takes  time to understand how to solve Capicitance and Resistance in the circut network.😅

** About the website** 😀😀
_____________________________________________
Design a responsive website that one can calculate their "**Resistance**  " and "**Capicitance** " easily and can understand by steps .
🚩User just have to design circuits and put Resistance with their values .😄 A

[2022-03-05 15:38] shahishree03 commented on #527
Hi 👋 I am Shahi Shreshth and GSSOC22 contributor.
Please assigned me this issue.
I have knowledge about the resistance and Capicitance ,and able to solve complex networks.

[2022-03-05 17:01] shivvamm commented on #497
yes sir i already did it

[2022-03-05 17:02] shivvamm commented on #497
Sir PLEASE accept the pull request

[2022-03-05 17:39] Amit366 commented on #527
@shahishree03 go ahead

[2022-03-06 03:08] shahishree03 commented on #527
Thank you

[2022-03-06 04:02] Amit366 commented on #474
@VIDHI-BAJAJ I am sorry I cannot give any more time.
SO @KushalGhosh9899 if u want u can work

[2022-03-06 04:04] Amit366 commented on #461
@ankitadam u can work

[2022-03-06 04:06] #497 closed

[2022-03-06 04:11] KushalGhosh9899 commented on #474
Yes please assign it to me under JWOC

[2022-03-06 04:13] #511 closed

[2022-03-06 04:17] #483 closed

[2022-03-06 04:21] Amit366 commented on #389
@Ashish4321-hub

[2022-03-06 04:36] Chavda-Mitul opened #532 "Text of about us and contact does not have the link of them respectively."
**Describe the bug**
In the home page at bottom the about text should also redirect have the link same as about us logo same issue with contact us right next to it.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'about us '
2. Click on 'about us and contact us text'
3. It is not linked.

**Expected behavior**
hovering over the about us and contact us text the the cursor should change f

[2022-03-06 04:37] Chavda-Mitul commented on #532
I can work on this assign it to me.

[2022-03-06 04:40] Amit366 commented on #532
@Chavda-Mitul for now only work on contact us and mail

[2022-03-06 09:39] Amandev02 commented on #523
hi @shivvamm can u assign me this issue

[2022-03-06 09:56] KushalGhosh9899 opened #536 "Add solution part for Quadratic equations calculator in Algebra section"
**Describe the solution you'd like**
Will add the solution part for the Quadratic equations calculator in the Algebra section

[2022-03-06 09:56] KushalGhosh9899 commented on #536
This issue will be under JWOC

[2022-03-06 09:57] KushalGhosh9899 opened #537 "Add solution part for Sets and Relation calculator in Algebra section"
**Describe the solution you'd like**
Will add solution part for Sets and Relation calculator in Algebra section

[2022-03-06 09:57] KushalGhosh9899 commented on #537
This issue will be under JWOC

[2022-03-06 09:57] #524 closed

[2022-03-06 10:02] Amit366 commented on #523
@shivvamm which buttons are not alligned?

[2022-03-06 10:09] shivvamm commented on #523
![Screenshot_2022-03-06-15-39-12-618_com.android.chrome.jpg](https://user-images.githubusercontent.com/58168590/156918610-9d6db597-d75d-4f44-b7fc-ec8db810b529.jpg)

[2022-03-06 10:11] shivvamm commented on #523
If would be good if they are aligned in centre all of them

[2022-03-06 10:29] AyushJain001 opened #538 "I will update how to contact us section by changing cases and making it sound better."
**Is your feature request related to a problem? Please describe.**
It seems that the contact section has not describe properly and there is a mistake in Alphabet cases . So I want to work on that.
**Describe the solution you'd like**
I will change the contact the section more readable form .
![Screenshot (449)](https://user-images.githubusercontent.com/90152799/156919238-85cde821-aa7b-4304-a99b-92

[2022-03-06 10:32] AyushJain001 commented on #538
Please assign it to me  under GSSOC22 .

[2022-03-06 11:02] #486 closed

[2022-03-06 11:04] #484 closed

[2022-03-06 11:19] AnuragParashar2000 opened #540 "Add Solution part in Poiseuille's law calculator in Fluid Mechanics section inside Classical Mechanics."
Add Solution part in Poiseuille's law calculator in Fluid Mechanics section inside Classical Mechanics, you can see other physics calculators for your reference.

[2022-03-06 11:20] Harshitp7 commented on #540
I want this issue to be assigned. I am a GSSoC'22 contributor.

[2022-03-06 11:25] Amit366 commented on #538
ok

[2022-03-06 11:25] AnuragParashar2000 opened #541 "Add Solution part in Bernoulli's equation calculator in Fluid Mechanics section inside Classical Mechanics."
Add Solution part in Bernoulli's equation calculator in the Fluid Mechanics section inside Classical Mechanics, you can see other physics calculators for your reference.

[2022-03-06 11:27] Amit366 commented on #523
@shivvamm but in different mobile views its differently alligned

[2022-03-06 11:38] shivvamm commented on #523
Yea it is left aligned which is bit odd

[2022-03-06 11:40] sinha-toyeesh commented on #541
I would like to work on this issue, please assign it to me , I'm a GSSOC contributor.

[2022-03-06 11:41] Amit366 commented on #541
ok

[2022-03-06 11:41] Amit366 commented on #523
ok work on it

[2022-03-06 13:28] AyushJain001 commented on #538
okay..I start working on the same

[2022-03-06 13:51] ritika1408 opened #542 "**I would like to modify the content and the font style of the home page**"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-06 14:21] ritika1408 commented on #542
The content used to describe the website is quiet short and the background image also needs to be changed. please assign me the issue so that i can start working on that

[2022-03-06 14:25] Amit366 commented on #542
@ritika1408 the background image is fine. And if u want u can add content

[2022-03-06 14:27] ritika1408 commented on #542
Okay!! So please assign me the issue so that i can start working on that

On Sun, Mar 6, 2022, 7:56 PM Amit Kumar Mishra ***@***.***>
wrote:

[2022-03-06 14:29] Amit366 commented on #542
Ok

[2022-03-06 15:10] shivvamm commented on #523
Yes sir on it I will send the pr soon ☺️

[2022-03-07 11:53] krithika2411 commented on #492
Hie can you assign me this issue i would like to rectify it

[2022-03-07 17:23] Himanshi236 commented on #542
Hey, I would to work on the same issue and can make the home page more attractive by adding a dynamic carousel and making the learn section more fascinating. Can u please assign this issue to me under GSSOC '22?

[2022-03-07 18:32] ronitrangwani opened #545 "Improvisation of UX of footer"
UX of the footer of the website is not up to mark.
I want to work on this under GSSOC2022 to make it more user-friendly. Can you assign it to me.

[2022-03-07 19:35] roushandas02 opened #546 ""Scroll Back to Top" arrow does not disappears when it is at the top"
**Describe the bug**
"Scroll  Back to Top" arrow is present even when it is at the top.

**Expected behavior**
The "Scroll  Back to Top" arrow should disappear as soon as it reaches the top.

**Screenshots**
![Screenshot (252)_LI](https://user-images.githubusercontent.com/100259231/157105044-71b29d83-6b0c-45ab-8793-1febd7abfd45.jpg)

**Additional context**
Add any other context about the problem h

[2022-03-08 04:06] #536 closed

[2022-03-08 04:36] vaibhavchaubey opened #549 "Issue in About page"
**Describe the bug**
About page is not working.

I am interested in working on this issue as a GSSoC'22 participant.
@Amit366  Please assign it to me.

[2022-03-08 05:41] meghamalviya5 commented on #546
Hi @roushandas02, so this  "Scroll Back to Top" arrow should appear only when we reach the bottom of the page or it should be omitted only from the topmost screen?

[2022-03-08 07:33] roushandas02 commented on #546
Yes, it should be omitted only from topmost screen

[2022-03-08 11:05] VATSAL-IIT opened #550 "Springs Combination Calculator in Classical mechanics"
A calculator for equivalent spring constant for a cobination of springs

[2022-03-08 11:06] VATSAL-IIT commented on #550
I want to work on this issue under JWOC

[2022-03-08 11:09] VATSAL-IIT opened #551 "Critical Angle calculator in Photonics section"
Calculator for Critical angle in Photonics section

[2022-03-08 11:09] VATSAL-IIT commented on #551
I want  to work on this issue under JWOC

[2022-03-08 13:15] purohitmansi commented on #532
Hello @Amit366!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 13:23] purohitmansi commented on #492
Hello @Amit366!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 13:24] purohitmansi commented on #468
Hello @Amit366!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 13:27] purohitmansi commented on #474
Hello @Amit366!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 13:45] KushalGhosh9899 commented on #474
Hey @purohitmansi, Glad to hear that you wanted to solve this problem, actually I have solved this issue and just waiting for my previous PR to be merged so that I can generate a PR for this issue.
Anyways I highly recommend that you should check out other issues as well.
Thanks.

[2022-03-08 14:19] meghamalviya5 commented on #546
Okay. Please assign this issue to me. I am a GSSoC contributor.

[2022-03-08 15:50] SainathPoojary opened #552 "Update GSSoC'22 in README.md"
Hi @Amit366 👋,
I am a contributor at GSSoC'22.
I saw "Open Source Programs we have been associated with" section was missing GSSOC'22
I want to work on that,
Please assign it to me.

### Current "Open Source Programs we have been associated with" section
![image](https://user-images.githubusercontent.com/53347682/157273273-455b2aa5-2e17-463d-97cb-2326e55831b6.png)

[2022-03-08 17:22] Amit366 commented on #532
@Chavda-Mitul r u working?

[2022-03-08 17:25] Amit366 commented on #546
@roushandas02 r u working on this issue?

[2022-03-08 20:19] roushandas02 commented on #546
Yes @Amit366 , I would like to work on this issue

[2022-03-09 04:45] BabyElias opened #553 "Enhance the appearance of Continuity Page"
![tempsnip](https://user-images.githubusercontent.com/95405559/157374309-e9767e61-6203-48e1-909f-831ec10570aa.png)
 I would like to make the following changes,if permitted.
I am a GSSoC contributor.Kindly review this issue and assign me if the changes are needed.

[2022-03-09 04:51] #541 closed

[2022-03-09 04:54] #537 closed

[2022-03-09 04:55] BabyElias opened #554 "Wrong Information in Torque Calculator"
![tempsnip](https://user-images.githubusercontent.com/95405559/157374911-57ec5473-fed0-4994-8c27-89b97c371406.png)
In the inertia tab , description has enter *force applied in Newtons*(kg-m/s2) but Inertia is the Moment of inertia of the body that is measured in kg-m2.

There can be two ways to resolve this issue :
1) Add a *choose the object* form label, where we will have some standard objects/s

[2022-03-09 04:56] Amit366 commented on #554
@BabyElias just change the label as the MOI is calculated in other calculator

[2022-03-09 04:58] Amit366 commented on #546
ok go ahead

[2022-03-09 04:58] Amit366 commented on #545
@ronitrangwani what type of changes do u want to do?

[2022-03-09 04:59] Amit366 commented on #492
@krithika2411 do u want to work?

[2022-03-09 05:00] Amit366 commented on #468
@itzwow since there is no update then @purohitmansi can work

[2022-03-09 05:01] Amit366 commented on #468
@purohitmansi add some  good quality questions from some standard text books

[2022-03-09 05:01] Amit366 commented on #462
@KushalGhosh9899 u can work

[2022-03-09 05:02] BabyElias opened #555 "Wrong Information in Work Calculator"
![tempsnip](https://user-images.githubusercontent.com/95405559/157375955-52b45b86-57ec-436f-a1be-6b2ededf4196.png)

The label says Torque(in N-m) and description asks the user to enter Force applied(in N).
The name of this label should be actually changed to *force* and a separate label asking the user to enter the *distance from the axis of rotation where force is applied* should be added to ensu

[2022-03-09 05:02] Amit366 commented on #555
@BabyElias u can change the label

[2022-03-09 05:02] BabyElias commented on #554
Ok. Will do it.

[2022-03-09 05:03] BabyElias commented on #555
So,should I also add the other label of enter distance from axis of rotation one?

[2022-03-09 09:12] Siddhesh777 opened #557 "Show/Hide Password functionality"
**Is your feature request related to a problem? Please describe.**
Sometimes user needs to view the password he/she entered.
There is no option to view the password while typing it.

**Describe the solution you'd like**
I will create a button which will toggle its view(show/hidden) using react hook useState

**Additional context**
I am contributor at gssoc'22.
Please assign this to me.

[2022-03-09 13:38] Chavda-Mitul commented on #532
Yes I am working on it.

[2022-03-09 14:06] ronitrangwani commented on #545
UX of the footer section doesn't match with the other component of the site, and it's not properly align. So I would like to correct that.

[2022-03-09 14:56] krithika2411 commented on #492
@Amit366  yes i would like to go for it

[2022-03-09 16:34] #462 closed

[2022-03-09 20:05] AyushJain001 commented on #538
Updated contact us description. @Amit366 please see and merge if sounds good.

[2022-03-10 06:06] kheya19 opened #562 "Improve the cover page"
I can improve your cover page with some illustrations and a little bit of animation.

[2022-03-10 07:01] alamsameer commented on #557
/assign

[2022-03-10 07:02] alamsameer commented on #557
Can i work on it

[2022-03-10 08:45] BabyElias opened #563 "Projectile Motion page is underspecified"
There are various types of projectile motions - Simple Vertical projectile , simple horizontal projectile, projectile on an inclined plane,projectile from an inclined plane and so on. So, the website mentioning no such specific category or diagram to explain the projectile based on which the calculator is made might be a disadvantage for the user-end.

I suggest adding an image that can explain th

[2022-03-10 14:14] Amit366 commented on #550
@VATSAL-IIT since u failed to send the Pull request so I am removing the label but anyways u can work if u want

[2022-03-10 14:23] Amit366 commented on #563
@BabyElias we had earlier added image but it was copyrighted. So if u can draw an image on any software and then add then it will be great

[2022-03-10 14:24] Amit366 commented on #562
@kheya19 can u exactly suggest the changes?

[2022-03-10 14:25] Amit366 commented on #557
@Siddhesh777 u can work

[2022-03-10 14:29] Amit366 commented on #538
@AyushJain001 u should send the pull request to the main repo and not to ur own repo

[2022-03-10 14:35] BabyElias commented on #563
Ok Sir.I will try making it.Kindly assign me this issue

[2022-03-10 16:36] VATSAL-IIT commented on #550
Sure!

[2022-03-10 17:08] AnuragParashar2000 opened #564 "Add Solution to Exponents Calculator in Algebra inside Math calculators."
Add Solution to Exponents Calculator in Algebra inside Math calculators. You can look at other math calculators for your reference.

[2022-03-10 17:09] Harshitp7 commented on #564
I want this issue to he assigned. I am a contributor in GSSoC'22.

[2022-03-10 17:30] AyushJain001 commented on #538
@Amit366 please look the changes made. If sounds good , you may merge the code. Thanks

[2022-03-10 18:28] kheya19 commented on #562
I will replace your cover page image with illustration related to your website and also I want to add some shapes which will be animated

[2022-03-10 20:22] Tiya0310 commented on #492
is this issue up for grab?

[2022-03-11 18:15] AyushJain001 opened #568 "It seems that the website does not contain the scroll bar to the right. I would like to work on it and add to it."
**Is your feature request related to a problem? Please describe.**
website does not contain the scroll bar for the movement.

**Describe the solution you'd like**
Scroll bar should be added.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the f

[2022-03-11 18:16] AyushJain001 commented on #568
Kindly assign me this issue under GSSOC. I would like to work on it.

[2022-03-12 05:36] AnuragParashar2000 commented on #554
The Labels are fine now but please change the sign of torque(Tau), now the sign is:
![image](https://user-images.githubusercontent.com/73629391/158005408-d52cbf31-9e30-4928-96cc-c1e828516807.png)
Earlier it was:
![image](https://user-images.githubusercontent.com/73629391/158005393-68d50a98-9bfa-4f9c-92bc-06c7c976df04.png)

[2022-03-12 05:38] AnuragParashar2000 commented on #555
@Amit366  I have reviewed this PR and the labels are resolved now.

[2022-03-12 18:58] ankitadam commented on #461
Sorry, I won't be able to work on it so I removed my assignment.

[2022-03-13 04:08] Rahul101201 opened #571 "formulae cheatsheet for maths , physics and physical chemistry along with named reaction in organic chemistry"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-13 04:09] Rahul101201 commented on #571
i would like to work on this issue

[2022-03-13 10:38] dvlsatya commented on #492
I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

[2022-03-14 03:42] roy-shivam commented on #568
please assign me this issue under GSSOC 2022. i want to work on it.

[2022-03-15 17:23] saujanyasood opened #572 "Adding option for Radians to trigonometric calculator"
**Is your feature request related to a problem? Please describe.**
There is no option to enter the angle value in radians to calculate trigonometric functions.

**Describe the solution you'd like**
I'd like to add the feature to enter the angle in radians as well as degrees, along with providing the option to enter it in terms of pi, which is a popular measurement of angles in radians.

<img width

[2022-03-16 21:18] tasneemahmed123 commented on #557
HI, can i work on this issue?

[2022-03-16 21:21] tasneemahmed123 commented on #562
Hi , can i work on this issue , I will try to improve cover page by adding some featured and amazing animations

[2022-03-16 21:23] tasneemahmed123 commented on #499
I want to add a feature ,where the user can generate a graph of the equation that he/she chooses,by clicking on the button named "Plot Graph" to plot the equation.

[2022-03-18 06:43] aaryahjolia opened #574 "Adding Home button after quiz ends"
**Is your feature request related to a problem? Please describe.**
When any quiz ends, user don't get any navigation ideas, so I want to add a home button when any quiz ends to go back to home.

![gssoc](https://user-images.githubusercontent.com/82600388/158950274-b8e97978-a1ad-404e-b5ab-7d06c6590736.png)

**Describe the solution you'd like**
 A home button will appear below the marks obtained by

[2022-03-18 08:33] rohitkhicher001 commented on #392
I am a gssoc22 contributer. I would like to work on this.

[2022-03-18 08:36] rohitkhicher001 commented on #408
Can i work on this issue as a gssoc22 contributer.

[2022-03-18 22:42] Megh2507 commented on #574
Hey! I have already implemented that home button below the quiz score. After the quiz ends and after clicking that button it will directly render the user to Home page . It looks like the following.
**Before Clicking:**
![Fun with Science - Tech N Science - Google Chrome 19-03-2022 03_53_56](https://user-images.githubusercontent.com/73662865/159092966-194d995e-53ab-44ba-8ae4-8ee67e151ad0.png)
**Af

[2022-03-19 05:36] Megh2507 opened #575 "Add a play again option after every quiz"
**I want to add a play again option after every quiz ends like the following.**
![Fun with Science - Tech N Science - Google Chrome 19-03-2022 11_01_59](https://user-images.githubusercontent.com/73662865/159108608-22d1d33f-8709-4e0f-b6b1-e6a0327de4e5.png)

I want to work on this issue under GSSOC'22.

[2022-03-19 05:51] Megh2507 opened #576 "Add new relevant svg images for physics and chemistry card"
Three of the cards are having same svg images which is not looking relevant , I can change the svg images for physics and chemistry according to the the topic.
**I am talking about this section👇.**
![Fun with Science - Tech N Science - Google Chrome 19-03-2022 11_15_59](https://user-images.githubusercontent.com/73662865/159109095-0c8a5e0e-5848-4dae-9e38-0baf49a97ad3.png)
I want to work on this und

[2022-03-19 11:24] Nupur-Khatri opened #577 "I want to add Mathematical Induction theory in its section as it is empty so please assign me this issue."
Since the mathematical induction has not material in it i would like to add the same . Please assign me this issue.

[2022-03-19 16:18] krithika2411 commented on #492
@Amit366  kindly assign this this to me

[2022-03-20 20:46] saujanyasood commented on #572
@Amit366 Can I work on this issue?

[2022-03-21 08:22] Siddhesh777 opened #579 "Confirm Password field while signing up."
**Is your feature request related to a problem? Please describe.**
Many times it may happen that the user entered the password and accidentally typed a wrong key.
Then user need to reset the password.

**Describe the solution you'd like**
We can create a confirm password field while signing up and if both the password match, then only we will register a new user.

![1](https://user-images.githubus

[2022-03-21 19:24] Diksha4111 commented on #579
Can I get the opportunity to work on this issue?

[2022-03-21 19:34] Diksha4111 commented on #542
Heyy I would like to work on this issue.
I will try to add text animations and many such things so that the home page looks more attractive.

[2022-03-22 11:14] VIDHI-BAJAJ commented on #389
Can I Solve this issue

[2022-03-23 07:59] #538 closed

[2022-03-23 08:06] #557 closed

[2022-03-23 08:11] Siddhesh777 commented on #579
hey @Amit366
Can you assign this task to me?😅

[2022-03-23 08:11] #555 closed

[2022-03-23 08:14] #554 closed

[2022-03-23 08:21] Amit366 commented on #389
@VIDHI-BAJAJ yes u can work. but go through the above chats first and do accordingly

[2022-03-23 08:21] AyushJain001 commented on #568
Please assign this issue under GSSOC22

[2022-03-23 08:22] Amit366 commented on #392
@rohitkhicher001 add the footer to algebra topics pages. and don't change anything

[2022-03-23 08:23] Amit366 commented on #408
@rohitkhicher001 yes u can work

[2022-03-23 08:23] Amit366 commented on #492
@krithika2411 u can work

[2022-03-23 08:25] Amit366 commented on #499
@tasneemahmed123 will u even make a feature to plot graphs?

[2022-03-23 08:25] Amit366 commented on #542
@Diksha4111 u can work

[2022-03-23 08:27] Amit366 commented on #563
@BabyElias r u working?

[2022-03-23 08:27] Amit366 commented on #564
@Harshitp7 r u interested?

[2022-03-23 08:28] Amit366 commented on #568
There is no need for the scroll bar as of current state of website

[2022-03-23 08:28] #568 closed

[2022-03-23 08:29] Amit366 commented on #571
@Rahul101201 we don't require a cheatsheet. But if u want u can work on chemistry part.

[2022-03-23 08:29] Amit366 commented on #574
@aaryahjolia its a good feature but the design is not good.

[2022-03-23 08:30] Amit366 commented on #575
@Megh2507 u can work

[2022-03-23 08:30] Amit366 commented on #576
@Megh2507 u can work

[2022-03-23 08:31] Amit366 commented on #579
@Siddhesh777 u can work

[2022-03-23 08:31] #493 closed

[2022-03-23 08:37] AyushJain001 opened #581 "Only showing "contact" instead of "contact us""
**Is your feature request related to a problem? Please describe.**
In the footer it is only showing "contact" instead of "contact us" title

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
![Screenshot (451)](https://user-images.githubusercontent.com/90152799/159657579-f3b5ecf8-e3a7-4523-8295-1ba8d9146b36.png)

**Describe alternatives you've conside

[2022-03-23 08:38] AyushJain001 commented on #581
Kindly assign this issue under GSSOC22

[2022-03-23 08:42] Diksha4111 commented on #542
Thank you @Amit366  for showing interest on my request 😊

[2022-03-23 10:32] aaryahjolia commented on #574
Yes @Amit366 , the design is only for visual representation since I created that in paint, I will make that a good one and will implement changes as per requirement!

[2022-03-24 15:54] dvlsatya commented on #542
I would like to work on this issue.

[2022-03-24 15:55] dvlsatya commented on #523
i would like to work on this issue . can you please assign me?

[2022-03-25 05:42] Amit366 commented on #574
@aaryahjolia u can work

[2022-03-25 05:42] Amit366 commented on #523
@dvlsatya u can work

[2022-03-25 10:46] rohitkhicher001 commented on #408
Just wanted to confirm what the issue is. So I have to add differentiation calculator in this https://technscience.com/integration page right?

[2022-03-25 10:48] Amit366 commented on #408
@rohitkhicher001 yes and also remember that the content should not be plagiarized and also add steps to the calculator

[2022-03-27 08:25] #579 closed

[2022-03-27 08:28] #576 closed

[2022-03-27 08:29] #466 closed

[2022-03-27 08:31] Amit366 commented on #581
@AyushJain001 I would suggest u to do some really good contributions and not just adding one word or correcting spellings. I hope u would find a really good bug to solve

[2022-03-27 08:31] #581 closed

[2022-03-27 08:33] Amit366 commented on #572
@saujanyasood u can work

[2022-03-27 08:35] Amit366 commented on #562
@tasneemahmed123 can u tell what do u want to add?

[2022-03-27 08:35] Amit366 commented on #553
@BabyElias u can work if interested

[2022-03-27 08:36] Amit366 commented on #552
@SainathPoojary u can work

[2022-03-27 08:37] Amit366 commented on #549
@vaibhavchaubey r u interested?

[2022-03-27 08:38] #545 closed

[2022-03-27 08:38] Amit366 commented on #542
@Diksha4111 any update?

[2022-03-27 08:40] Amit366 commented on #523
@dvlsatya any update?

[2022-03-27 08:41] #494 closed

[2022-03-27 08:41] #527 closed

[2022-03-27 08:44] #465 closed

[2022-03-27 08:45] Amit366 commented on #408
@rohitkhicher001 any update?

[2022-03-27 08:45] #392 closed

[2022-03-27 08:54] SainathPoojary commented on #552
Yes @Amit366, I am Interested.

[2022-03-27 08:57] itsAftabAlam commented on #532
I would like to work on this issue, please assign this to me

[2022-03-27 08:58] Amit366 commented on #532
@itsAftabAlam add only for contact and mail .

[2022-03-27 08:59] Amit366 commented on #552
U can work

[2022-03-27 09:04] itsAftabAlam commented on #532
sure @Amit366

[2022-03-27 09:12] BabyElias commented on #553
@Amit366 Yes I am.Please assign me this issue.

[2022-03-27 09:24] SainathPoojary commented on #552
Hi @Amit366, I have raised a Pull Request for this issue. Please review it.

[2022-03-27 09:51] krithika2411 commented on #492
@Amit366  kindly assign this to me i will done with the change . have to send the pr

[2022-03-27 13:23] kanikakaur27 commented on #542
Hey, I'm keen to work on this issue. I think the home page can be enhanced with better font styles and animations.

[2022-03-27 14:13] Diksha4111 commented on #542
@Amit366 I have some issue in understanding the code and i posted my doubt on discord...
So, currently I'm trying to clear it out.

[2022-03-27 15:39] BabyElias commented on #563
@Amit366 I would like to take this up.Sorry for not responding as I was pre-occupied with my other engagements. Just give me a day or two.

[2022-03-28 07:41] Prikshit-anthal commented on #546
Kindly assign me this issue,it wont take much time. I'm a participant in GSSOC.

[2022-03-28 08:41] Amit366 commented on #546
@Prikshit-anthal u can work

[2022-03-28 16:32] #552 closed

[2022-03-28 16:43] BIKRAM-SAHA commented on #549
Hi, @Amit366  as it has been 21 days since this issue was opened yet no-one has been assigned to solve it, I would like to be assigned. I am interested in implementing the about page.

[2022-03-29 07:54] Amit366 commented on #563
@BabyElias ok send the pr soon

[2022-03-29 08:23] Amit366 commented on #389
@VIDHI-BAJAJ r u working?

[2022-03-29 17:57] VIDHI-BAJAJ commented on #389
@Amit366 Yes I am Working On it by 31 st I i will completed

[2022-03-29 18:05] VIDHI-BAJAJ commented on #389
@Amit366 Where can I find Heading page

[2022-03-30 22:19] SainathPoojary commented on #532
Hi! @Amit366 , I would like to work on this Issue. Can you please assign it to me.

[2022-03-31 15:27] rohitalal opened #595 "Add more questions in quiz section of Maths"
There are only 4 questions in the quiz section of maths.
I'll add more questions.

[2022-04-01 07:55] Amit366 commented on #595
@rohitalal u can work

[2022-04-01 08:49] Amit366 commented on #532
@itsAftabAlam since there is no update so I am assigning it to @SainathPoojary

[2022-04-01 08:50] Amit366 commented on #532
@SainathPoojary go through the above chats and see what u have to do

[2022-04-01 14:48] Amit366 commented on #468
@RishikaKant u need to add some good questions to maths section and also mention the difficulty level and also topic name. Just refer the physics questions section

[2022-04-01 14:59] BIKRAM-SAHA opened #596 "Remove Warnings on compiling while setting up in local system"
**Describe the bug**
while setting up the project at my local system I realized that it compiles with warnings. I propose to
1. remove the escape characters '\\.' and replace them with '.'
2. delete line2 of funwithphysics\src\Components\LearnMore\index.js since it is imported but never used
3. replace '!=' with '!==' at line 3120 of funwithphysics\src\Components\Algebra\Topic\Calculator.js
4.  de

[2022-04-01 15:01] BIKRAM-SAHA commented on #596
Please assign me the issue, so that I can start working on it

[2022-04-01 15:36] RishikaKant commented on #468
Sure! Thank you

[2022-04-02 05:15] #546 closed

[2022-04-02 05:18] Amit366 commented on #596
u can work @BIKRAM-SAHA

[2022-04-02 07:14] maura-dev commented on #479
Is this issue still up for grabs?

[2022-04-02 07:19] maura-dev opened #598 "Add calculations to chemistry"
Calculations on chemistry topics like Mole, gas laws, etc.

[2022-04-02 07:31] Amit366 commented on #479
@maura-dev yes

[2022-04-02 07:33] Amit366 commented on #598
@maura-dev for now we r thinking to add the periodic table first. Like in the periodic table if an element is clicked then its corresponding properties will be displayed.

[2022-04-02 07:34] maura-dev commented on #598
Ohh okay
Lemme close the issue

[2022-04-02 07:34] maura-dev commented on #479
Please assign to me for gssoc

[2022-04-02 09:16] SainathPoojary commented on #532
@Amit366 Can you please confirm, If its working as expected.

https://user-images.githubusercontent.com/53347682/161376420-f0b301dd-2417-49cf-b436-67ead42966b0.mp4

[2022-04-03 05:45] lakshrav commented on #460
Heyy if this issue is available, could you please assign it to me?

[2022-04-03 05:46] Amit366 commented on #460
@lakshrav yes

[2022-04-03 06:02] lakshrav commented on #460
Thank you

[2022-04-03 06:38] soumali28 commented on #562
I want to work on this issue under GSSoC.
I will make the entire UI of the front page make the cards beautiful and animations and also make it entirely responsive.

[2022-04-03 18:45] KevinGandhi9898 opened #599 "Fixing the UI of the Webpage"
**Describe the solution you'd like**
Serious UI issues with homepage would like to fix them.
Editing the Navbar to look more attractive.

@Tech-N-Science
@Amit366

[2022-04-04 01:41] #598 closed

[2022-04-04 01:44] maura-dev commented on #564
Please assign this issue to me for gssoc.

[2022-04-04 01:47] maura-dev opened #602 "Add Logarithm as a topic under algebra"
Add a page in algebra that gives short note on logarithm with examples and logarithmic laws

[2022-04-04 05:24] #596 closed

[2022-04-04 05:26] #479 closed

[2022-04-04 05:32] Amit366 commented on #564
@maura-dev u can work

[2022-04-04 05:32] Amit366 commented on #602
@maura-dev u can work

[2022-04-04 05:34] Amit366 opened #604 "Bug in math quiz section"
**Describe the bug**
On clicking the quiz in math section the cursor doesn't click anything and when move back to previous page then nothing could be clicked.

[2022-04-04 05:35] Amit366 commented on #575
@Megh2507 r u working?

[2022-04-04 06:04] AnIkeT126 commented on #562
can I work on this issue under GSSoC'22 @Amit366 ??

[2022-04-04 10:40] Amit366 commented on #602
#562  is already similar to this issue

[2022-04-04 10:40] Amit366 commented on #599
#562 is already a similar issue

[2022-04-04 10:40] #599 closed

[2022-04-04 11:23] Sukriti-m commented on #461
Hey @Amit366. I would like to work on this issue.
 I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-04 11:44] Sukriti-m commented on #461
Hey @Amit366.
I would like to work on this issue. I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-04 11:53] Sukriti-m opened #606 "Add Steps to Permutation And Combination Calculator in Algebra section."
**Is your feature request related to a problem? Please describe.**
Add steps for Permutation And Combination Calculator in Algebra section, means on clicking calculator entire steps should appear.

**Describe the solution you'd like**
I will add stepwise solution of the problems.

**Additional context**
I am contributor at GSSoC '22. Please assign this issue to me.

[2022-04-04 16:59] Amit366 commented on #461
@Sukriti-m u can work

[2022-04-04 17:00] #571 closed

[2022-04-04 17:00] #577 closed

[2022-04-04 17:01] Amit366 commented on #606
@Sukriti-m this issue is already resolved

[2022-04-04 17:01] #606 closed

[2022-04-04 17:58] Vikash-8090-Yadav opened #607 "[bug] in readme.md file"
Hey , Greeting's of the day  :smile:
As u know that readme.md  file is one the great doc's that reflect's or attract the organisation toward's ur repo
I go through all the readme file and i found most of the grammitical and spacing error .
So i request u  to assign this issue to me  .
Thank u :blush:

[2022-04-05 02:39] ayush25102001 opened #608 "Confirm Password field."
**Is your feature request related to a problem? Please describe.**
Currently on signUp the user enters his username, email and password but sometime due to typos the user may set an incorrect password
eg : Sets- ayusz
       InsteadOf- ayush
Thus I will add a confirm password field where the password will be set only if the password entered in the password and the setpassword fields match or else

[2022-04-05 11:39] Sukriti-m commented on #540
Hey @Amit366
I would like to work on this issue. I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-05 11:40] Sukriti-m commented on #463
Hey @Amit366
I would like to work on this issue. I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-05 12:44] ayush25102001 commented on #608
@Amit366 can I work on this

[2022-04-05 13:14] #608 closed

[2022-04-05 13:15] Amit366 commented on #607
@Vikash-8090-Yadav can u point out any such error?

[2022-04-05 20:29] BIKRAM-SAHA commented on #604
## Does this issue corresponds to this bug?
On visiting maths quiz section for first time:
![image](https://user-images.githubusercontent.com/74536497/161843409-234d39e5-5376-4c6e-9016-51532025fff6.png)
On reloading:
![image](https://user-images.githubusercontent.com/74536497/161843472-7d4535b7-73e3-4891-bf31-a526974050b0.png)

[2022-04-06 00:21] tasneemahmed123 commented on #523
Sir, can I work in this issue too ? I will try to align all these buttons on center and if I see any update while I am working I will tell you here or ping you on discord to tell me your opinion

[2022-04-06 00:30] tasneemahmed123 commented on #562
I will add some words and some animations , if it will seem cool

[2022-04-06 10:22] AnIkeT126 commented on #432
@Amit366 I want to want on this issue and assure to solve this within 10 days, please assign this to me

[2022-04-07 11:47] mansi-singla-31215 commented on #595
Hi, I would also like to add some questions to the quiz section of maths. Pls assign it to me.

[2022-04-09 08:59] Sukriti-m commented on #540
Hey @Amit366
I would like to work on this issue. I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-09 08:59] #460 closed

[2022-04-09 09:03] #564 closed

[2022-04-09 09:06] #532 closed

[2022-04-09 09:10] Amit366 commented on #432
@AnIkeT126 can u solve it within 4 days?

[2022-04-09 09:10] Amit366 commented on #523
@tasneemahmed123 u can work

[2022-04-09 09:11] Amit366 commented on #540
@Sukriti-m u can work

[2022-04-09 09:11] Amit366 commented on #562
@tasneemahmed123 u can work

[2022-04-09 09:15] AnIkeT126 commented on #432
I can try my level best to do so.

[2022-04-09 09:25] Amit366 commented on #432
k

[2022-04-10 05:58] Amit366 commented on #604
@BIKRAM-SAHA this issue is basically that when quiz page or math calculators page is opened then none of the buttons are clickable. Only after reloading they work

[2022-04-10 05:59] #461 closed

[2022-04-10 06:11] Amit366 opened #614 "Bug in statistics calculator"
**Describe the bug**
The sorted data and mode fields provide wrong answers.

[2022-04-10 22:51] Vikash-8090-Yadav commented on #607
[code]
[code]
[code]
I am using the online grammar zeker zoho
[Grammar checker](https://writer.zoho.com/writer/open/ehcj480b49bc922f24234822d61ece37330be?from=free_grammar_checker)

![Screenshot from 2022-04-11 04-15-07](https://user-images.githubusercontent.com/85225156/162643273-93e634b9-ff4d-4b09-9f2b-bbcfed85b562.png)

[2022-04-12 10:11] Pallavisingh123 opened #616 "Add attractive picture related to math , Physics, Chemistry in card of Tech section"
Hii.
I have seen on the website there should be included some pictures related to math, Physics, and Chemistry in the cards of the Tech section that make it more attractive.
Please assign it to me.

![Screenshot (52)](https://user-images.githubusercontent.com/91817009/162937586-b12965a9-4e69-4d20-9492-7ec7ff564b83.png)

[2022-04-12 10:27] PeritusDeveloper commented on #614
I want to work on this issue.

[2022-04-12 15:48] Pallavisingh123 commented on #616
ok, sure😊

[2022-04-12 15:49] #616 closed

[2022-04-13 12:52] Pallavisingh123 commented on #616
@Amit366  okk🙂.

[2022-04-15 13:33] RishikaKant commented on #463
I would like to work on this issue. Please assign it to me.

[2022-04-15 14:14] Sukriti-m opened #618 "Add steps to Thermal Expansion Calculator"
**Is your feature request related to a problem? Please describe.**
I saw that the steps of Thermal Expansion Calculator in the Thermodynamics section are missing.

**Describe the solution you'd like**
I will add steps to Thermal Expansion Calculator

**Additional context**
![td](https://user-images.githubusercontent.com/93239528/163581373-1ccbe717-b0c1-4d56-a2e8-b394d8ce9319.png)

I would like to

[2022-04-15 18:09] k99sharma opened #619 "Add: Mutual Inductance Calculator and Critical Angle (TIR) Calculator"
**Is your feature request related to a problem? Please describe.**
I want to add Mutual Inductance Calculator in Electromagnetism and a Critical Angle Calculator in Photonics

[2022-04-16 11:55] riyajaiswal25 commented on #572
I want to work on this issue

[2022-04-16 11:57] riyajaiswal25 commented on #502
I want to work on this issue

[2022-04-16 12:25] Shatakshi-Choudhary opened #621 "Add a Scroll Bar in the Webpage"
Scroll Bar in HTML is one of the features to scroll data from both horizontal and vertical formats. We will allocate the border, height, and width of the scroll tables.
Suppose we want to add a scroll bar option in HTML, we will use an “overflow” option, and set it as auto-enabled for adding both horizontal and vertical scroll bars. And if we want to create a scroll bar either horizontal or vertic

[2022-04-16 12:28] Shatakshi-Choudhary commented on #621
Hey @Amit366 , Please assign this issue to me. I will add this feature of the Scroll Bar to the website by using HTML. I am a GSSoC'22 contributor & will try my best to add this feature.

[2022-04-17 07:09] #540 closed

[2022-04-17 07:23] #604 closed

[2022-04-17 07:25] Amit366 commented on #619
@k99sharma u can work but u need to make the solution part as well

[2022-04-17 07:25] Amit366 commented on #618
@Sukriti-m u can work

[2022-04-17 07:26] Amit366 commented on #614
@PeritusDeveloper u can work

[2022-04-17 07:27] Amit366 commented on #572
@riyajaiswal25 u can work

[2022-04-17 07:28] Amit366 commented on #502
@riyajaiswal25 u can work

[2022-04-17 07:28] Amit366 commented on #463
@RishikaKant first remove the bug from ur previous PR and then u can work on this

[2022-04-17 14:17] AnuragParashar2000 opened #623 "Add Malus Law Calculator in Photonics calculators inside Physics Section."
Add malus law Calculator in Photonics calculators inside physics Calculator. You can look at other physics calculators for your reference.

[2022-04-17 14:17] singhnaveen098 commented on #623
Please assign it to me, i am a GSSOC contributor

[2022-04-17 14:34] Amit366 commented on #623
@singhnaveen098 u can work but remember to add the solution part as well.

[2022-04-17 17:26] PeritusDeveloper commented on #614
how do I install the node modules?
npm install is not working...

[2022-04-17 17:31] Amit366 commented on #614
@PeritusDeveloper have u tried npm install inside the funwithscience folder?

[2022-04-17 17:45] Sukriti-m commented on #550
Hey @Amit366 @AnuragParashar2000
I would like to work on this issue. I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-18 03:25] Amit366 commented on #621
@Shatakshi-Choudhary there is no need for a scroll bar as of now. So I would suggest you to check out other opened issues.

[2022-04-18 03:25] #621 closed

[2022-04-18 04:17] Shatakshi-Choudhary commented on #621
Okay!

[2022-04-19 11:51] #623 closed

[2022-04-19 13:03] akrati-max commented on #468
hello @Amit366
i want to add some questions to maths question section. I am a GSSoC22 contributor.please assign this to me.

[2022-04-19 13:39] singhnaveen098 commented on #463
@Amit366 I would like to work on this issue. Please assign it to me.

[2022-04-19 15:41] k99sharma commented on #619
Okay! I will try to do it and make PR as soon as possible.

[2022-04-21 03:36] Sukriti-m commented on #550
Hey @Amit366 @AnuragParashar2000
I would like to work on this issue. I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-21 04:53] Sukriti-m opened #628 "Add Imaginary roots in quadratic eq calc"
**Is your feature request related to a problem? Please describe.**
I saw that when the roots are imaginary in quadratic equation calculator then it just displays the message and does not show the value of complex roots.

**Describe the solution you'd like**
I will add the feature in which if the roots are imaginary then values of complex roots in the form of a+ib and a-ib will be shown
**Additiona

[2022-04-22 05:33] Kanika2772002 commented on #595
Hi, I have some more question's to add  the quiz section of Maths @rohitalal  can u  assign it to me.

[2022-04-22 05:37] Kanika2772002 commented on #562
hey , can i do it some changes if u @Amit366 assign me

[2022-04-22 05:37] Kanika2772002 commented on #575
Hi , it seems i can add it @Megh2507 , so can u assign me

[2022-04-22 06:21] Amit366 commented on #595
@Kanika2772002 u can work

[2022-04-22 06:21] Amit366 commented on #575
@Kanika2772002 u can work

[2022-04-22 06:22] Amit366 commented on #562
There's no such improvement required

[2022-04-22 06:22] #562 closed

[2022-04-22 06:23] Amit366 commented on #463
@singhnaveen098 u can work

[2022-04-22 06:23] Amit366 commented on #468
@akrati-max u can work

[2022-04-22 06:24] Amit366 commented on #550
@Sukriti-m u can work

[2022-04-22 06:25] Amit366 commented on #628
@Sukriti-m u can work

[2022-04-22 09:41] Kanika2772002 commented on #595
Thanks a lot.

On Fri, Apr 22, 2022, 11:51 AM Amit Kumar Mishra ***@***.***>
wrote:

[2022-04-22 09:42] Kanika2772002 commented on #562
Ok fine

On Fri, Apr 22, 2022, 11:53 AM Amit Kumar Mishra ***@***.***>
wrote:

[2022-04-23 08:21] #618 closed

[2022-04-23 08:26] #468 closed

[2022-04-23 18:06] ajeetdangi2 opened #631 "Adding view/hide password toggle in Sign Up form"
**Is your feature request related to a problem? Please describe.**
A user might make a mistake while typing a password and may want to see what password he has entered.

**Describe the solution you'd like**
A view and hide toggle button for the password field in sign up form.

@Amit366 @AnuragParashar2000 Please assign this issue  to me under GSSoC'22

[2022-04-23 18:16] ajeetdangi2 opened #632 "Redirecting directly to home page after logging in"
**Is your feature request related to a problem? Please describe.**
An alert is shown when the user has successfully logged in.

**Describe the solution you'd like**
Instead of showing an alert we can directly redirect the user to the home page for a better User experience as it's better to have minimum clicks.

@Amit366 @AnuragParashar2000 Please assign this issue to me under GSSoC'22

[2022-04-23 18:21] #631 closed

[2022-04-27 09:48] #463 closed

[2022-04-27 09:50] #628 closed

[2022-04-27 09:53] Amit366 commented on #632
@ajeetdangi2 ok but if the login credentials are wrong then pop up should appear

[2022-04-27 20:24] ajeetdangi2 opened #635 "Footer linkedIn link not working fine"
**Describe the bug**
When we click on the linkedIn icon in the footer it redirects to the link like "http://localhost:3000/https://www.linkedin.com/company/tech-n-science" instead of "https://www.linkedin.com/company/tech-n-science"
<img width="575" alt="Screenshot (5)" src="https://user-images.githubusercontent.com/72207545/165624459-424c1bf5-6600-49e3-9b53-564effa0f4d5.png">

@Amit366 Please ass

[2022-04-29 15:47] tasneemahmed123 commented on #635
Can you assign me this issue @ajeetdangi2

[2022-04-30 21:18] Ashish4321-hub opened #636 "Add screenshot of project in README file"
I am gssoc contributor and want to add screenshot of project to help other people to understand the project.

[2022-05-03 07:31] Ashish4321-hub commented on #636
/assign

[2022-05-03 10:40] AnuragParashar2000 opened #638 "Add Pendulum Calculator in Simple Harmonic Motion Section inside Physics Calculators."
Add Pendulum Calculator in Simple Harmonic Motion section inside physics Calculator. You can look at other physics calculators for your reference.

[2022-05-03 10:41] sharma-tanishq commented on #638
I am a GSSOCC22 contributor. Please assign this issue to me

[2022-05-03 11:02] sharma-tanishq commented on #453
Hi I am a GSSOC22 contributer can i work on this?

[2022-05-03 11:28] Sukriti-m opened #639 "Degree Of Freedom Calculator in Thermodynamics section"
**Describe the solution you'd like**
Add a Degree Of Freedom Calculator in Thermodynamics section for monoatomic, diatomic and triatomic gases.

**Additional context**
I am a GSSoC'22 contributor.
Please assign this issue to me.
@Amit366 @AnuragParashar2000

[2022-05-04 03:27] #632 closed

[2022-05-04 03:28] #453 closed

[2022-05-04 03:30] Amit366 commented on #549
@vaibhavchaubey u need to add About us in the home page itself just above the learn heading. And also don't copy the contents from any other website.

[2022-05-04 03:32] Amit366 commented on #635
@ajeetdangi2 u can work.

[2022-05-04 03:33] Amit366 commented on #636
@Ashish4321-hub if u want to contribute then contribute to the project.

[2022-05-04 03:33] #636 closed

[2022-05-04 03:33] #638 closed

[2022-05-04 03:35] Amit366 commented on #639
@Sukriti-m these calculators are not required as of now. If u want then u can write solutions to the questions in physics section. If you want to know more on how to go about it then dm on discord

[2022-05-04 03:35] #639 closed

[2022-05-04 03:36] #607 closed

[2022-05-05 11:35] Amit366 opened #640 "ADD solutions to the questions"
**Is your feature request related to a problem? Please describe.**
Add solutions to the physics questions (MCQs and numericals).

[2022-05-07 05:51] #635 closed

[2022-05-07 23:01] void-ness commented on #595
Hey, @Amit366! after going through the source code and specially mathsquiz.js, I am only able to see 4 questions at the moment. I would love to increase that count by contributing with more questions. I will be including questions covering the following topics - probability, integration and permutation and combinations. Kindly assign the issue to me. Thank you

[2022-05-09 03:30] Amit366 commented on #595
@void-ness in the current website there are around 15 questions. So instead of this if u could add solutions to physics questions then that will be good.

[2022-05-09 04:32] sonalee21 commented on #499
Hello,
I would like to work on this issue, please assign it to me.

[2022-05-09 04:35] sonalee21 commented on #477
Hello,
I would like to work on this, please assign it to me.

[2022-05-09 05:43] Amit366 commented on #477
@sonalee21 u can work.

[2022-05-09 05:44] Amit366 commented on #477
U basically need to write the solution of the MCQ or the numerical based questions in the physics section. If u have any doubt then ask me on discord.

[2022-05-09 05:45] Amit366 commented on #499
@sonalee21 its not just adding a button. with the button u need to add the functionality to represent graph

[2022-05-09 05:46] #550 closed

[2022-05-09 07:03] MonalikaPatnaik opened #643 "Bug Report: The links in the footer page is not working."
The links mentioned in the footer page is not working, I would like to work on it under GSSoC'22.
![bug](https://user-images.githubusercontent.com/99353300/167356870-14a5d59c-e255-4eb2-a3b3-394fb13b7122.PNG)

[2022-05-09 07:06] Abhilasha-Jairath commented on #643
I want to work on this under GSsoc 2022 , Can you please assign it to me .

[2022-05-09 07:49] sonalee21 commented on #499
Okay @Amit366 , assign it to me. I'll do it.

[2022-05-09 07:50] Amit366 commented on #643
@MonalikaPatnaik as we haven't add the accounts so its not working

[2022-05-09 07:50] #643 closed

[2022-05-11 07:28] rohitkhicher001 commented on #553
I would like to work on this issue.

[2022-05-11 07:32] rohitkhicher001 commented on #523
I would like to work on this issue.

[2022-05-11 07:33] rohitkhicher001 commented on #408
I couldn't do it so please unassign me.

[2022-05-11 09:51] Amit366 commented on #553
@rohitkhicher001 go ahead.

[2022-05-11 09:51] Amit366 commented on #523
Its not required as of now

[2022-05-11 09:51] #523 closed

[2022-05-12 08:09] Amit366 commented on #477
@sonalee21 any update?

[2022-05-12 14:39] shahishree03 opened #644 "Ressistance calculator"
The website contains to find equivalent Ressistance by drawing wire in network.

The code ,I have divided into 2 one is calculate based and other is to understand about ressitance.

Please assign me this issue ,as I have made it .
language : -html, css, javascript.
Made for GSSOC22

[2022-05-12 17:02] shahishree03 commented on #644
Please assigned me this task
I have made this for GSSOC22.

[2022-05-13 02:48] Sukriti-m commented on #619
@Amit366 If this task is being delayed, then please assign me this issue.
I am a GSSoC'22 contributor.

[2022-05-13 06:06] Amit366 commented on #644
@shahishree03 can u elaborate as there are calculators and also the definition of the same. What else do u wish to add?

[2022-05-13 06:08] Amit366 commented on #619
@Sukriti-m its already added. If u want u can work either on chemistry part or on adding physics solutions.

[2022-05-13 06:08] #619 closed

[2022-05-13 06:38] shahishree03 commented on #644
To solve equivalents resistance by connecting wires through a network .
It is not just the calculator (we have to type the values , ) and it just calculate
We have to join the fires in network to find equivalent resistance.
Additional with I add some concepts based regarding resistance.

[2022-05-13 07:02] Amit366 commented on #644
@shahishree03 u can work on it. But the concepts which u want to add must not be copied directly from other websites.

[2022-05-13 19:47] void-ness commented on #595
Hey. Thank you for replying. Physics is a field I have less idea about. Due to this, I will not be able to take up the suggested work. apologies for the inconvenience. Looking forward to contribute with something else in the coming Future.

[2022-05-13 21:57] AhmedKhaled590 opened #645 "Edit Style of sidebar in questions page."
**Describe the bug**
Under GSSoC22
Sidebar labels and buttons need to have a little margin to look more beautiful.

**Screenshots**
![image](https://user-images.githubusercontent.com/62337087/168394653-a0b68de0-5792-40ea-981f-44d54cd6c621.png)

[2022-05-14 03:38] Amit366 commented on #645
@AhmedKhaled590 u can work

[2022-05-14 10:04] shahishree03 commented on #644
sir, when i will send a pull request what branch name should I give?? As issue #644 or "Ressistance Calculator"

[2022-05-14 14:59] Amit366 commented on #644
@shahishree03 u can send it whenever u solve the issue. And branch name can be anything of ur choice.

[2022-05-14 14:59] Amit366 commented on #644
If u still have any doubts then u can dm me over discord

[2022-05-14 16:59] piyusha2001 commented on #640
Hello can I work on this under GSSOC'22?

[2022-05-14 17:10] Amit366 commented on #640
@piyusha2001 u can work. For any doubts u can ask in discord.

[2022-05-14 17:23] shahishree03 commented on #644
Okay sir

[2022-05-14 17:32] nik132-eng commented on #614
I See this issue is open and if still, this remains to complete. I want to work on this issue can you please assign it to me.

[2022-05-14 17:44] Amit366 commented on #614
@nik132-eng u can work

[2022-05-15 05:49] #645 closed

[2022-05-15 05:52] #327 closed

[2022-05-15 06:35] Adhetya opened #647 "Improve UI of contact form"
**Describe the bug**
A clear and concise description of what the bug is.
UI of contact form is not looking very good

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Click on contact
4. See form

**Expected behavior**
A clear and concise description of what you expected to happen.
UI can be made better with font change and different color for button

**Screenshots**
If applic

[2022-05-15 06:38] Amit366 commented on #647
@Adhetya what font changes and color change would u do. Like there is only a single button and font is also appropriate.

[2022-05-15 06:43] Adhetya commented on #647
@Amit366, change button color, font does not match with rest of the website, reduce border-radius of website, change background color.

[2022-05-15 07:59] Amit366 commented on #647
@Adhetya u can work but it must look better than the current one.

[2022-05-15 17:24] nik132-eng commented on #614
resolve this issue please check it. @Amit366

[2022-05-18 17:59] navyasharma0203 commented on #389
@Amit366 Can I work on this??

[2022-05-18 17:59] navyasharma0203 commented on #432
@Amit366 Can I work on this??

[2022-05-19 06:32] Amit366 commented on #432
@navyasharma0203 u can work

[2022-05-19 06:33] Amit366 commented on #389
@navyasharma0203 u need to follow this.

[2022-05-19 06:33] #549 closed

[2022-05-20 10:34] sudeep162002 opened #651 "Unit Tests"
**Is your feature request related to a problem? Please describe.**
this project have large codebases and its going to become big in future as well so to manage such a big code base we need unit test for react  this will save time for many contributors and also it helps admin to check weather any new pr has merge conflict with other or not.

**Describe the solution you'd like**
I write unit test ca

[2022-05-20 10:47] Amit366 commented on #651
@sudeep162002 u can work

[2022-05-20 10:51] sudeep162002 commented on #651
ok thanks

[2022-05-20 18:20] HazemAbdo opened #652 "Enhance Algebra,Trigonometry,Geometry, and Integration topics Cards"
**Describe the bug**
Under GSSoC22
Change colors and the design of cards in the Algebra, Trigonometry, Geometry, and Integration pages.

**Screenshots**
![image](https://user-images.githubusercontent.com/59124058/169589023-b96f9f00-efe7-4513-aeb5-520f1cad9d5d.png)

[2022-05-20 18:26] Amit366 commented on #652
@HazemAbdo what do u want to change?

[2022-05-20 19:12] HazemAbdo commented on #652
1. The layout and the color of the cards are not very elegant so we can change the color to match the theme of the website, especially the home page.
2. Adding images for each topic
3. Adding a small description for each topic on the card
4. Handling coming soon case.
![image](https://user-images.githubusercontent.com/59124058/169595764-fcf201a6-68c0-49f6-a14b-33ba43766394.png)

[2022-05-20 19:14] HazemAbdo commented on #652
Using Bootstrap will be a big boost for the website UI

[2022-05-21 07:37] #614 closed

[2022-05-21 07:48] the-illuminatus commented on #502
is this issue still unresolved?

[2022-05-21 07:49] the-illuminatus commented on #502
if yes, then i would like to work on it.

[2022-05-21 07:50] the-illuminatus commented on #492
can i work on this issue under gssoc22?

[2022-05-21 07:55] Amit366 commented on #502
@the-illuminatus u can work

[2022-05-21 07:56] Amit366 commented on #492
@the-illuminatus u can work. Just make sure to give proper padding

[2022-05-21 07:58] Amit366 commented on #652
@HazemAbdo we can't add images due to copyright issues, description for each specific topic is not possible as it will not maintain the column structure.

[2022-05-21 07:58] #652 closed

[2022-05-21 11:46] HazemAbdo opened #653 "Adding a dedicated about us page"
**Describe the bug**
Under GSSoC22
Add a separate page for the about us section as for now the about us and the home page are the same.If we will proceed with this option we will need some content about the website and its owners.
**Screenshots**
![image](https://user-images.githubusercontent.com/59124058/169650214-9ad34bc2-a82e-451a-9304-7f3e0aa021c5.png)
<img width="963" alt="image" src="https:/

[2022-05-21 11:48] Amit366 commented on #653
@HazemAbdo this issue is already been created #389

[2022-05-21 11:48] #653 closed

[2022-05-21 13:14] HazemAbdo commented on #653
To make it clear you mean when the user press the editorial button a pop-up or another page will appear and will contain the solution in some details
<img width="975" alt="image" src="https://user-images.githubusercontent.com/59124058/169653108-38c8454c-b2b9-4bec-845f-90d83728058e.png">